<template>
  <v-container
    fluid
    grid-list-md
  >
    <photo-filters
      :filters="filters"
      @update:filters="onFiltersUpdate"
    />

    <photos-list
      v-infinite-scroll="loadMore"
      :infinite-scroll-throttle-delay="1000"
      :photos="photos"
    />

    <v-layout
      justify-center
      class="pa-4"
    >
      <v-progress-circular
        v-if="loading"
        :size="50"
        color="primary"
        indeterminate
      />
    </v-layout>
  </v-container>
</template>
<script>
import PhotoFilters from './PhotoFilters'
import PhotosList from './PhotosList'
import { mapGetters, mapActions } from 'vuex'
import { get } from 'lodash'

export default {
  name: 'Photos',

  components: {
    PhotoFilters,
    PhotosList
  },

  data () {
    return {
      filters: {
        nsfwRatingMin: null,
        nsfwRatingMax: null,
        createdTo: null,
        createdFrom: null
      },
      loading: false,
      limitReached: false,
      pagination: {
        limit: 20,
        offset: 0
      }
    }
  },

  computed: {
    ...mapGetters({
      photos: 'photos/photos',
      photosLoaded: 'photos/photosLoaded'
    }),
    loadMoreAvailable () {
      return !this._inactive && this.photosLoaded && !this.loading
    }
  },

  async beforeMount () {
    this.loadPhotos()
  },

  methods: {
    ...mapActions({
      fetchPhotos: 'photos/fetchPhotos',
      loadMorePhotos: 'photos/loadMorePhotos'
    }),

    onFiltersUpdate (filters) {
      this.filters = filters
      this.loadPhotos(filters)
    },

    async loadPhotos (filters = {}) {
      this.loading = true

      this.pagination = {
        offset: 0,
        limit: this.pagination.limit
      }

      try {
        await this.fetchPhotos({
          ...filters,
          ...this.pagination
        })
      } catch (error) {
        const message = get(error, 'response.data.errors', 'Ошибка при загрузке фото')

        this.$bus.$emit('snackbar:open', {
          color: 'error',
          message
        })
      } finally {
        this.loading = false
      }
    },

    async loadMore (filters) {
      if (!this.loadMoreAvailable) return
      this.loading = true

      const { offset, limit } = this.pagination
      const pagination = {
        offset: offset + limit,
        limit
      }

      try {
        await this.loadMorePhotos({
          ...filters,
          ...pagination
        })

        this.pagination = { ...pagination }
      } catch (error) {
        const message = get(error, 'response.data.errors', 'Ошибка при загрузке фото')

        this.$bus.$emit('snackbar:open', {
          color: 'error',
          message
        })
      } finally {
        this.loading = false
      }
    }
  }
}
</script>
