<template>
  <v-flex
    xs12
    sm6
    md4
    lg4
    xl3
    class="pa-2"
  >
    <v-card>
      <v-img
        :src="photo.photo.large"
        height="240px"
      />
      <v-card-actions>
        <v-btn
          small
          color="primary"
          dark
          @click="onModerate"
        >
          Разрешить
        </v-btn>
        <v-spacer />
        <photo-select-status
          :class-list="classList"
          @update-class="updateClass"
        />
      </v-card-actions>
    </v-card>
  </v-flex>
</template>
<script>
import PhotoSelectStatus from './PhotoSelectStatus'
import { mapActions } from 'vuex'
import { get } from 'lodash'
export default {
  name: 'PhotosItem',
  components: {
    PhotoSelectStatus
  },
  props: {
    photo: {
      type: Object,
      default: () => ({}),
      required: true
    }
  },
  data () {
    return {
      classList: [{
        title: 'Порнография',
        value: 'porn'
      }, {
        title: 'Жестокость',
        value: 'violence'
      }, {
        title: 'Оскорбления',
        value: 'insult'
      }, {
        title: 'Спам',
        value: 'spam'
      }]
    }
  },
  methods: {
    ...mapActions({
      moderatePhoto: 'photos/moderatePhoto'
    }),
    async onModerate () {
      this.$emit('moderate', {
        isConfirmed: true,
        photoId: this.photo.id
      })
    },
    async updateClass (item) {
      try {
        await this.moderatePhoto({
          isConfirmed: false,
          photoId: this.photo.id,
          nsfwClass: item.value
        })
      } catch (err) {
        let error = get(err, 'response.data.errors', 'Ошибка при обработке фото склкекс')
        this.$bus.$emit('snackbar:open', {
          color: 'error',
          message: error
        })
      }
    }
  }
}
</script>
