<template>
  <v-menu
    v-model="menu"
    :close-on-content-click="false"
    full-width
    max-width="290"
    transition="scale-transition"
  >
    <v-text-field
      slot="activator"
      :label="label"
      append-icon="date_range"
      solo
      :value="formattedDate"
      @input="handleDateTime"
    />
    <v-date-picker
      v-if="isOpened"
      v-model="selectedDate"
      locale="ru-RU"
      :min="todayDate"
    >
      <v-spacer />
      <v-btn
        flat
        color="primary"
        @click="menu = false"
      >
        Выход
      </v-btn>
      <v-btn
        flat
        color="primary"
        @click="chooseDate"
      >
        OK
      </v-btn>
    </v-date-picker>
    <v-time-picker
      v-if="!isOpened"
      v-model="selectedTime"
      full-width
      format="24hr"
      :min="todayTime"
    >
      <v-spacer />
      <v-btn
        flat
        color="primary"
        @click="menu = false"
      >
        Выход
      </v-btn>
      <v-btn
        flat
        color="primary"
        @click="chooseTime"
      >
        OK
      </v-btn>
    </v-time-picker>
  </v-menu>
</template>
<script>
import dateFns from 'date-fns'
export default {
  name: 'MDateTimePicker',
  props: {
    label: {
      type: String,
      default: null
    },
    value: {
      type: String,
      default: null
    }
  },
  data () {
    const todayDate = new Date().toISOString().substr(0, 10)
    const todayTime = new Date().getHours() + ':' + new Date().getMinutes()
    return {
      todayDate,
      todayTime,
      selectedDate: todayDate,
      selectedTime: todayTime,
      isOpened: true,
      timePicker: false,
      menu: false
    }
  },
  computed: {
    formattedDate () {
      return this.selectedDate && this.selectedTime ? dateFns.format(this.selectedDate, 'YYYY-MM-DD') + ' в ' +
        this.selectedTime : ''
    }
  },
  watch: {
    menu (opened) {
      if (!opened) this.isOpened = true
    },
    value: {
      immediate: true,
      handler (formattedDate) {
        const date = formattedDate ? this.getDateWithOffset(formattedDate) : new Date().toISOString()
        this.selectedDate = dateFns.format(date, 'YYYY-MM-DD')
        this.selectedTime = dateFns.format(date, 'HH:mm')
      }
    }
  },
  methods: {
    chooseDate () {
      this.handleDateTime()
      this.isOpened = false
    },
    chooseTime () {
      this.handleDateTime()
      this.menu = false
    },
    handleDateTime () {
      const date = this.selectedDate
      const time = this.selectedTime.replace('-', ':')

      const formattedDate = this.formatDate(`${date} ${time}`)
      this.$emit('input', formattedDate)
    },

    formatDate (dateTime) {
      const date = new Date(dateTime.replace(/-/g, '/'))
      const timestamp = date.getTime()
      return dateFns.format(
        timestamp,
        'YYYY-MM-DDTHH:mm:ss.SSSZ'
      )
    },
    getDateWithOffset (date) {
      /* const newDate = new Date(date)
      const offset = newDate.getTimezoneOffset() / 60
      const hours = newDate.getHours()
      newDate.setHours(hours - offset)
      console.log(newDate) */
      return date
    }
  }
}
</script>
