<template>
  <v-layout
    row
    wrap
  >
    <photos-item
      v-for="photo in photos"
      :key="photo.id"
      :photo="photo"
      @moderate="moderatePhoto"
    />
  </v-layout>
</template>
<script>
import PhotosItem from './PhotosItem'
import { mapActions } from 'vuex'
import { get } from 'lodash'

export default {
  name: 'PhotosList',

  components: {
    PhotosItem
  },

  props: {
    photos: {
      type: Array,
      default: () => ({}),
      required: true
    }
  },

  methods: {
    ...mapActions({
      moderatePhoto: 'photos/moderatePhoto'
    }),
    async onModerate () {
      try {
        await this.moderatePhoto({
          isConfirmed: true,
          photoId: this.photo.id,
          nsfwClass: this.photo.nsfwClass
        })
      } catch (err) {
        let error = get(err, 'response.data.errors', 'Ошибка при обработке фото разрешиь')
        this.$bus.$emit('snackbar:open', {
          color: 'error',
          message: error
        })
      }
    }
  }
}
</script>
