<template>
  <v-card class="pa-2 mb-3">
    <v-card-text>
      <v-form
        ref="form"
      >
        <v-layout
          row
          wrap
          justify-start
        >
          <v-flex
            xs12
            sm6
            md3
          >
            <span class="text-field-title">По номеру телефона:</span>
            <v-flex>
              <v-text-field
                v-model="innerFilters.phone"
                :mask="mask.phone"
                hide-details
                solo
                @keyup="updateFilters"
              />
            </v-flex>
          </v-flex>
          <v-flex
            xs12
            sm6
            md3
          >
            <span class="text-field-title">По имени:</span>
            <v-flex>
              <v-text-field
                v-model="innerFilters.name"
                hide-details
                solo
                @keyup="updateFilters"
              />
            </v-flex>
          </v-flex>
          <v-flex
            xs12
            sm6
            md3
          >
            <span class="text-field-title">&nbsp;</span>
            <v-btn
              color="primary"
              large
              @click="resetForm"
            >
              Сбросить фильтр
            </v-btn>
          </v-flex>
        </v-layout>
      </v-form>
    </v-card-text>
  </v-card>
</template>
<script>
import { isEqual } from 'lodash'
const initialFilters = {
  phone: null,
  name: null
}
export default {
  name: 'UserFilter',
  props: {
    filters: {
      type: Object,
      default: () => ({}),
      required: true
    }
  },
  data () {
    return {
      innerFilters: { ...initialFilters },
      mask: {
        phone: '##########'
      }
    }
  },
  watch: {
    filters: {
      immediate: true,
      handler (filters) {
        this.innerFilters = { ...filters }
      }
    }
  },
  methods: {
    updateFilters () {
      if (isEqual(this.innerFilters, this.filters)) return
      this.$emit('update:filters', this.innerFilters)
    },
    resetForm () {
      this.$emit('update:filters', { ...initialFilters })
      this.$refs.form.reset()
    }
  }
}
</script>
<style scoped>
.text-field-title{
  color: #A0B3C6;
  font-size: 14px;
  line-height: 16px;
  display: block;
  min-height: 20px;
}
</style>
