<template>
  <v-container
    fluid
    class="pa-0"
  >
    <users-filter
      :filters="filters"
      @update:filters="onFiltersUpdate"
    />
    <div
      v-infinite-scroll="loadMore"
      :infinite-scroll-throttle-delay="1000"
      class="justify-center flex"
    >
      <v-container
        v-if="!accountsLoaded"
        fill-height
      >
        <v-layout
          row
          class="justify-center"
        >
          <v-progress-circular
            :size="50"
            color="primary"
            indeterminate
          />
        </v-layout>
      </v-container>
      <users-list
        v-else
        :accounts="accounts"
        @edit-user="onEditUser"
      />
      <v-layout
        justify-center
        class="pa-4"
      >
        <v-progress-circular
          v-if="loadingMore"
          :size="50"
          color="primary"
          indeterminate
        />
      </v-layout>
    </div>
    <edit-user
      :user="user"
      :show-dialog.sync="showDialog"
      @update-account="onUpdateAccount"
    />
  </v-container>
</template>
<script>
import UsersFilter from './UsersFilter'
import UsersList from './UsersList'
import EditUser from './EditUser'
import { mapGetters, mapActions } from 'vuex'
import { get } from 'lodash'
export default {
  name: 'Users',
  components: {
    UsersFilter,
    UsersList,
    EditUser
  },
  data () {
    return {
      filters: {
        phone: null,
        name: null
      },

      loadingUsersId: 0,
      loading: false,

      pagination: {
        limit: 10,
        offset: 0
      },

      showDialog: false,
      user: {}
    }
  },
  computed: {
    ...mapGetters({
      accounts: 'accounts/accounts',
      accountsLoaded: 'accounts/accountsLoaded',
      limitReached: 'accounts/usersLimitReached'
    }),

    loadMoreAvaible () {
      return !this._inactive && this.accountsLoaded && !this.loading && !this.limitReached
    },

    loadingMore () {
      return this.accountsLoaded && this.loading
    }

  },
  async beforeMount () {
    this.loadAccounts()
  },
  methods: {
    ...mapActions({
      fetchAccounts: 'accounts/fetchAccounts',
      loadMoreAccounts: 'accounts/loadMoreAccounts',
      updateAccount: 'accounts/updateAccount'
    }),

    onFiltersUpdate (filters) {
      this.filters = filters
      this.loadAccounts(filters)
    },

    async loadAccounts (filters = {}) {
      this.loading = true

      this.pagination = {
        offset: 0,
        limit: this.pagination.limit
      }

      try {
        await this.fetchAccounts({
          ...filters,
          ...this.pagination
        })
      } catch (err) {
        let error = get(err, 'response.data.errors', 'Ошибка при загрузке пользователей')
        this.$bus.$emit('snackbar:open', {
          color: 'error',
          message: error
        })
      } finally {
        this.loading = false
      }
    },

    async loadMore (filters) {
      if (!this.loadMoreAvaible) return
      this.loading = true

      const { offset, limit } = this.pagination
      const pagination = {
        offset: offset + limit,
        limit
      }

      try {
        await this.loadMoreAccounts({
          ...this.filters,
          ...pagination
        })

        this.pagination = { ...pagination }
      } catch (error) {
        let message = get(error, 'response.data.errors', 'Ошибка при загрузке событий')

        this.$bus.$emit('snackbar:open', {
          color: 'error',
          message
        })
      } finally {
        this.loading = false
      }
    },

    async onEditUser (payload) {
      this.showDialog = true
      this.user = payload
    },
    async onUpdateAccount (account) {
      try {
        await this.updateAccount(account)
        this.showDialog = false
        const message = 'Данные пользователя обновлены'
        await this.$bus.$emit('snackbar:open', {
          color: 'success',
          message
        })
      } catch (error) {
        let message = get(error, 'response.data.errors', 'Ошибка при обработке обновлении данных')
        this.$bus.$emit('snackbar:open', {
          color: 'error',
          message
        })
      }
    }
  }
}
</script>
