<template>
  <v-container
    class="pa-0"
    fluid
  >
    <events-filter
      :filters="filters"
      @update:filters="onFiltersUpdate"
    />
    <div
      v-infinite-scroll="loadMore"
      :infinite-scroll-throttle-delay="1000"
      class="justify-center flex"
    >
      <v-container
        v-if="!eventsLoaded"
        fill-height
      >
        <v-layout
          row
          class="justify-center"
        >
          <v-progress-circular
            :size="50"
            color="primary"
            indeterminate
          />
        </v-layout>
      </v-container>
      <events-list
        v-else
        :events="events"
      />
      <v-layout
        justify-center
        class="pa-4"
      >
        <v-progress-circular
          v-if="loadingMore"
          :size="50"
          color="primary"
          indeterminate
        />
      </v-layout>
    </div>
  </v-container>
</template>
<script>
import EventsFilter from './EventsFilter'
import EventsList from './EventsList'
import { mapGetters, mapActions } from 'vuex'
import { get } from 'lodash'
export default {
  name: 'Events',
  components: {
    EventsFilter,
    EventsList
  },
  data () {
    return {
      filters: {
        id: null,
        name: null,
        timeFrom: null,
        timeTo: null
      },
      loadingEventsId: 0,
      loading: false,
      pagination: {
        limit: 20,
        offset: 0
      }
    }
  },
  computed: {
    ...mapGetters({
      events: 'events/events',
      eventsLoaded: 'events/eventsLoaded',
      limitReached: 'events/eventsLimitReached'
    }),

    loadMoreAvaible () {
      return !this._inactive && this.eventsLoaded && !this.loading && !this.limitReached
    },

    loadingMore () {
      return this.eventsLoaded && this.loading
    }
  },

  async beforeMount () {
    this.loadEvents()
  },

  methods: {
    ...mapActions({
      fetchEvents: 'events/fetchEvents',
      loadMoreEvents: 'events/loadMoreEvents'
    }),

    async loadEvents (filters = {}) {
      this.loading = true
      try {
        await this.fetchEvents({
          ...filters,
          ...this.pagination
        })
      } catch (err) {
        let error = get(err, 'response.data.errors', 'Ошибка при загрузке событий')
        this.$bus.$emit('snackbar:open', {
          color: 'error',
          message: error
        })
      } finally {
        this.loading = false
      }
    },

    onFiltersUpdate (filters) {
      this.filters = filters
      this.loadEvents(filters)
    },

    async loadMore () {
      if (!this.loadMoreAvaible) return
      this.loading = true
      try {
        const { offset, limit } = this.pagination
        const pagination = {
          offset: offset + limit,
          limit
        }
        await this.loadMoreEvents({
          ...this.filters,
          ...pagination
        })

        this.pagination = { ...pagination }
      } catch (error) {
        let message = get(error, 'response.data.errors', 'Ошибка при загрузке событий')

        this.$bus.$emit('snackbar:open', {
          color: 'error',
          message
        })
      } finally {
        this.loading = false
      }
    }
  }
}
</script>
