<template>
  <v-card class="pa-2 mb-3">
    <v-card-text>
      <v-form
        ref="form"
      >
        <v-layout
          row
          wrap
          justify-start
        >
          <v-flex
            xs12
            sm6
            md4
          >
            <span class="text-field-title">По номеру телефона:</span>
            <v-flex>
              <v-text-field
                v-model="innerFilters.phone"
                :mask="mask.phone"
                hide-details
                solo
                @keyup="updateFilters"
              />
            </v-flex>
          </v-flex>
          <v-flex
            xs12
            sm6
            md4
          >
            <span class="text-field-title">По имени:</span>
            <v-flex>
              <v-text-field
                v-model="innerFilters.name"
                hide-details
                solo
                @keyup="updateFilters"
              />
            </v-flex>
          </v-flex>
          <v-flex
            xs12
            sm6
            md4
          >
            <span class="text-field-title">По дате регистрации:</span>
            <v-layout
              row
              align-center
            >
              <v-flex>
                <v-menu
                  v-model="menu1"
                  :close-on-content-click="false"
                  lazy
                  transition="scale-transition"
                  offset-y
                  full-width
                  min-width="290px"
                >
                  <template v-slot:activator="{ on }">
                    <v-text-field
                      v-model="dateStart"
                      prepend-inner-icon="date_range"
                      hide-details
                      solo
                      readonly
                      v-on="on"
                    />
                  </template>
                  <v-date-picker
                    v-model="dateStart"
                    locale="ru-RU"
                    @input="onDateStart"
                  />
                </v-menu>
              </v-flex>
              <v-flex shrink>
                <v-subheader>-</v-subheader>
              </v-flex>
              <v-flex>
                <v-menu
                  v-model="menu2"
                  :close-on-content-click="false"
                  lazy
                  transition="scale-transition"
                  offset-y
                  full-width
                  min-width="290px"
                >
                  <template v-slot:activator="{ on }">
                    <v-text-field
                      v-model="dateEnd"
                      prepend-inner-icon="date_range"
                      hide-details
                      solo
                      readonly
                      v-on="on"
                    />
                  </template>
                  <v-date-picker
                    v-model="dateEnd"
                    locale="ru-RU"
                    @input="onDateEnd"
                  />
                </v-menu>
              </v-flex>
            </v-layout>
          </v-flex>
          <v-flex
            xs12
            sm6
            md4
          >
            <span class="text-field-title">По количеству заблокированных фото:</span>
            <v-layout
              row
              align-center
              justify-center
            >
              <v-flex>
                <v-text-field
                  v-model="innerFilters.photosBlockedFrom"
                  :mask="mask.number"
                  placeholder="От"
                  hide-details
                  solo
                  @keyup="updateFilters"
                />
              </v-flex>
              <v-flex shrink>
                <v-subheader>-</v-subheader>
              </v-flex>
              <v-flex>
                <v-text-field
                  v-model="innerFilters.photosBlockedTo"
                  :mask="mask.number"
                  placeholder="До"
                  hide-details
                  solo
                  @keyup="updateFilters"
                />
              </v-flex>
            </v-layout>
          </v-flex>

          <v-flex
            xs12
            sm6
            md4
          >
            <span class="text-field-title">По open_id:</span>
            <v-flex>
              <v-text-field
                v-model="innerFilters.openId"
                hide-details
                solo
                @input="updateFilters"
              />
            </v-flex>
          </v-flex>

          <v-flex
            xs12
            sm6
            md4
          >
            <span class="text-field-title">По возрасту:</span>
            <v-layout
              row
              align-center
            >
              <v-flex>
                <v-menu
                  v-model="menu3"
                  :close-on-content-click="false"
                  lazy
                  transition="scale-transition"
                  offset-y
                  full-width
                  min-width="290px"
                >
                  <template v-slot:activator="{ on }">
                    <v-text-field
                      v-model="birthdayStart"
                      prepend-inner-icon="date_range"
                      hide-details
                      solo
                      readonly
                      v-on="on"
                    />
                  </template>
                  <v-date-picker
                    v-model="birthdayStart"
                    locale="ru-RU"
                    @input="onBirthdayStart"
                  />
                </v-menu>
              </v-flex>
              <v-flex shrink>
                <v-subheader>-</v-subheader>
              </v-flex>
              <v-flex>
                <v-menu
                  v-model="menu4"
                  :close-on-content-click="false"
                  lazy
                  transition="scale-transition"
                  offset-y
                  full-width
                  min-width="290px"
                >
                  <template v-slot:activator="{ on }">
                    <v-text-field
                      v-model="birthdayEnd"
                      prepend-inner-icon="date_range"
                      hide-details
                      solo
                      readonly
                      v-on="on"
                    />
                  </template>
                  <v-date-picker
                    v-model="birthdayEnd"
                    locale="ru-RU"
                    @input="onBirthdayEnd"
                  />
                </v-menu>
              </v-flex>
            </v-layout>
          </v-flex>
        </v-layout>
        <v-layout
          row
          wrap
          justify-space-between
          align-center
        >
          <v-flex
            xs12
            sm6
            md8
          >
            <span class="v-radio-group-title">По статусу:</span>
            <v-radio-group
              v-model="innerFilters.radioGroup"
              row
              hide-details
              solo
              @change="updateFilters"
            >
              <v-radio
                color="primary"
                label="все"
                :value="null"
              />
              <v-radio
                color="primary"
                label="заблокированные"
                :value="true"
              />
              <v-radio
                color="primary"
                label="не заблокированные"
                :value="false"
              />
            </v-radio-group>
          </v-flex>
          <v-flex
            xs12
            sm6
            md4
            class="text-right"
          >
            <v-btn
              color="primary"
              large
              @click="resetForm"
            >
              Сбросить фильтр
            </v-btn>
          </v-flex>
        </v-layout>
      </v-form>
    </v-card-text>
  </v-card>
</template>
<script>
import { isEqual } from 'lodash'
import dateFns from 'date-fns'

const initialFilters = {
  phone: null,
  name: null,
  openId: null,
  photosBlockedFrom: null,
  photosBlockedTo: null,
  birthdayFrom: null,
  birthdayTo: null,
  regFrom: null,
  regTo: null,
  radioGroup: null
}
export default {
  name: 'ManagementFilter',
  props: {
    filters: {
      type: Object,
      default: () => ({}),
      required: true
    }
  },
  data () {
    return {
      range: {},
      birthday: {},
      innerFilters: { ...initialFilters },
      datepicker: {
        inputProps: { solo: true, hideDetails: true, style: { width: '100%' } },
        max: dateFns.format(new Date(), 'YYYY-MM-DD')
      },
      mask: {
        phone: '##########',
        number: '###'
      },
      dateEnd: null,
      dateStart: null,
      birthdayEnd: null,
      birthdayStart: null,
      menu2: false,
      menu3: false,
      menu4: false,
      menu1: false
    }
  },
  watch: {
    filters: {
      immediate: true,
      handler (filters) {
        this.innerFilters = { ...filters }
      }
    }
  },
  methods: {
    updateFilters () {
      if (isEqual(this.innerFilters, this.filters)) return
      this.$emit('update:filters', this.innerFilters)
    },

    onDateEnd () {
      this.menu2 = false
      this.innerFilters.regTo = new Date(this.dateEnd).toISOString()
      this.$emit('update:filters', this.innerFilters)
    },
    onDateStart () {
      this.menu1 = false
      this.innerFilters.regFrom = new Date(this.dateStart).toISOString()
      this.$emit('update:filters', this.innerFilters)
    },

    onBirthdayEnd () {
      this.menu4 = false
      this.innerFilters.birthdayTo = new Date(this.birthdayEnd).toISOString()
      this.$emit('update:filters', this.innerFilters)
    },
    onBirthdayStart () {
      this.menu3 = false
      this.innerFilters.birthdayFrom = new Date(this.birthdayStart).toISOString()
      this.$emit('update:filters', this.innerFilters)
    },

    formatDate (dateTime) {
      const date = new Date(dateTime)
      const timezoneOffset = date.getTimezoneOffset() * 60 * 1000
      const timestamp = date.getTime()

      return dateFns.format(
        timestamp + (timezoneOffset),
        'YYYY-MM-DDTHH:mm:ss.SSSSSSZ'
      )
    },
    resetForm () {
      this.$emit('update:filters', { ...initialFilters })
      this.$refs.form.reset()
    }
  }
}
</script>
<style scoped>
.text-field-title {
  color: #A0B3C6;
  font-size: 14px;
  line-height: 16px;
  display: block;
  min-height: 20px;
}

.v-subheader {
  padding: 0;
  text-align: center;
}

.v-radio-group-title {
  margin-top: 15px;
  display: block;
}

.v-input--selection-controls {
  margin-top: 5px
}
.text-right{
  text-align: right;
}
</style>
