<template>
  <v-toolbar
    flat
    app
    color="primary"
    dark
    fixed
  >
    <v-toolbar-side-icon
      @click.stop="changeDrawer"
    />
    <v-toolbar-title>{{ $route.meta.title }}</v-toolbar-title>
    <v-spacer />
    <v-btn
      icon
      @click.native="logout()"
    >
      <v-icon>exit_to_app</v-icon>
    </v-btn>
  </v-toolbar>
</template>
<script>
import { mapActions } from 'vuex'
import { get } from 'lodash'
export default {
  name: 'MHeader',
  props: {
    drawer: {
      type: Boolean,
      default: false
    }
  },
  methods: {
    ...mapActions({
      deAuthenticate: 'auth/deAuthenticate',
      clearProfile: 'user/clearProfile'
    }),
    changeDrawer () {
      this.$emit('changeDrawer', !this.drawer)
    },
    async logout () {
      try {
        await this.deAuthenticate()
        await this.clearProfile()
        this.$router.replace({ name: 'login' })
      } catch (err) {
        let error = get(err, 'response.data.errors', 'Ошибка при попытке выйти с сайта')
        this.$bus.$emit('snackbar:open', {
          color: 'error',
          message: error
        })
      }
    }
  }
}
</script>

<style>

</style>
