<template>
  <v-dialog
    v-model="dialog"
    max-width="400px"
    @input="v => v || closeDialog()"
  >
    <v-btn
      slot="activator"
      color="primary"
      large
    >
      Добавить аккаунт
    </v-btn>
    <v-card class="pa-2">
      <v-card-title>
        <h3>Создание нового системного пользователя</h3>
      </v-card-title>
      <v-card-text>
        <v-form
          id="add-user-form"
          ref="form"
          lazy-validation
          @submit.prevent="onAddAccount"
        >
          <v-text-field
            v-model="userData.name"
            :rules="nameRules"
            label="Имя"
            solo
            class="mb-1"
          />
          <div class="theme--light v-label mb-2">
            Укажите день рождения
          </div>
          <m-datepicker
            v-model="userData.birthday"
            label="День рождения"
            class="mb-1"
          />
          <div class="theme--light v-label mb-2">
            Загрузите аватар
          </div>
          <v-container
            v-if="loadingImg"
            fill-height
            class="progress-img"
          >
            <v-layout
              row
              justify-center
              align-center
            >
              <v-progress-circular
                :size="50"
                color="primary"
                indeterminate
              />
            </v-layout>
          </v-container>
          <m-select-image
            v-else
            :image-url="imageUrl"
            @selected="onImageSelected"
            @remove="onImageRemove"
          />
          <v-spacer />
          <v-btn
            flat
            class="primary mx-0 mt-3"
            type="submit"
            form="add-user-form"
            :loading="loading"
            :disabled="loading"
          >
            Добавить
          </v-btn>
        </v-form>
      </v-card-text>
    </v-card>
  </v-dialog>
</template>
<script>
import MSelectImage from '@/components/shared/MSelectImage'
import MDatepicker from '@/components/shared/MDatepicker'
import { mapActions } from 'vuex'
import { get } from 'lodash'
export default {
  components: {
    MSelectImage,
    MDatepicker
  },
  data () {
    return {
      date: null,
      loading: false,
      loadingImg: false,
      dialog: false,
      imageUrl: '',
      userData: {
        name: '',
        birthday: '',
        avatar: ''
      }
    }
  },
  computed: {
    nameRules () {
      return [
        v => !!v || 'Поле обязательное'
      ]
    }
  },
  methods: {
    ...mapActions({
      uploadPhoto: 'users/uploadPhoto',
      addAccount: 'accounts/addAccount'
    }),
    async onImageSelected (file) {
      this.loadingImg = true
      try {
        const fileUploaded = await this.uploadPhoto({
          file
        })
        this.imageUrl = fileUploaded.url
        this.userData.avatar = fileUploaded.filename
        const message = 'Картинка загруженна'
        await this.$bus.$emit('snackbar:open', {
          color: 'success',
          message
        })
      } catch (err) {
        let error = get(err, 'response.data.errors', 'Неудалось загрузить картинку')
        this.$bus.$emit('snackbar:open', {
          color: 'error',
          message: error
        })
      } finally {
        this.loadingImg = false
      }
    },
    onImageRemove () {
      this.imageUrl = ''
    },
    async onAddAccount () {
      if (!this.$refs.form.validate()) return
      this.loading = true
      try {
        await this.addAccount({
          name: this.userData.name,
          birthday: this.userData.birthday,
          avatar: this.userData.avatar
        })
        this.$refs.form.reset()
        this.dialog = false
      } catch (err) {
        let error = get(err, 'response.data.errors', 'Неудалось добавить пользователя')
        this.$bus.$emit('snackbar:open', {
          color: 'error',
          message: error
        })
      } finally {
        this.loading = false
      }
    },
    closeDialog () {
      this.$refs.form.reset()
      this.imageUrl = ''
    }
  }
}
</script>
<style>
.progress-img{
  height: 150px;
}
</style>
