<template>
  <v-container
    fluid
    grid-list-md
  >
    <v-layout
      align-center
      justify-space-between
      row
      wrap
      class="mb-4"
    >
      <v-tabs
        slider-color="primary"
        wrap
      >
        <v-tab :to="{ name: 'campaigns' }">
          Создать рассылку
        </v-tab>
        <v-tab :to="{ name: 'campaigns-stats' }">
          Список рассылок
        </v-tab>
      </v-tabs>
    </v-layout>
    <router-view />
  </v-container>
</template>

<script>
export default {
  name: 'ViewCampaigns',

  computed: {
    isBackButton () {
      return this.$route.name === 'campaigns-stats'
    }
  }
}
</script>
