<template>
  <v-layout
    row
    wrap
  >
    <v-flex xs12>
      <h2>Общий список рассылок</h2>
    </v-flex>

    <v-flex xs12>
      <div
        v-infinite-scroll="loadMore"
        :infinite-scroll-throttle-delay="1000"
      >
        <v-layout
          v-if="!campaignsLoaded"
          class="pa-4"
          justify-center
        >
          <v-progress-circular
            :size="50"
            color="primary"
            indeterminate
          />
        </v-layout>

        <stats-list
          v-else
          :campaigns="campaigns"
        />
      </div>
    </v-flex>
  </v-layout>
</template>

<script>
import StatsList from './StatsList'
import { mapGetters, mapActions } from 'vuex'
import { get } from 'lodash'

export default {
  name: 'ViewCampaignStats',

  components: {
    StatsList
  },

  data () {
    return {
      pagination: {
        offset: 0,
        limit: 20
      },

      loading: false
    }
  },

  computed: {
    ...mapGetters({
      campaigns: 'campaigns/list',
      campaignsLoaded: 'campaigns/campaignsLoaded',
      limitReached: 'campaigns/campaignsLimitReached'
    }),

    loadMoreAvailable () {
      return this.campaignsLoaded && !this.loading && !this.limitReached
    }
  },

  beforeMount () {
    this.getCampaigns()
  },

  methods: {
    ...mapActions({
      fetchCampaigns: 'campaigns/fetchCampaigns',
      loadMoreCampaigns: 'campaigns/loadCampaigns'
    }),

    async getCampaigns () {
      this.loading = true

      try {
        await this.fetchCampaigns({
          ...this.pagination
        })
      } catch (err) {
        let error = get(err, 'response.data.errors', 'Ошибка при загрузке рассылок')
        this.$bus.$emit('snackbar:open', {
          color: 'error',
          message: error
        })
      } finally {
        this.loading = false
      }
    },

    async loadMore () {
      if (!this.loadMoreAvailable) return
      this.loading = true

      try {
        const { offset, limit } = this.pagination
        const pagination = {
          offset: offset + limit,
          limit
        }
        await this.loadMoreCampaigns({
          ...this.filters,
          ...pagination
        })

        this.pagination = { ...pagination }
      } catch (error) {
        let message = get(error, 'response.data.errors', 'Ошибка при загрузке рассылок')

        this.$bus.$emit('snackbar:open', {
          color: 'error',
          message
        })
      } finally {
        this.loading = false
      }
    }
  }
}
</script>
