<template>
  <v-card
    flat
    height="200px"
    class="text-xs-center ma-3 transparent"
  >
    <v-responsive
      class="pt-4"
    >
      <v-avatar
        size="100"
        class="grey lighten-2"
      >
        <img src="https://randomuser.me/api/portraits/men/85.jpg">
      </v-avatar>
    </v-responsive>
    <v-card-text>
      <div class="subheading">
        {{ profile.name }}
      </div>
      <div class="grey--text">
        {{ profile.role }}
      </div>
    </v-card-text>
  </v-card>
</template>
<script>
import { mapGetters, mapActions } from 'vuex'
export default {
  name: 'MAdmin',
  computed: {
    ...mapGetters({
      profile: 'user/profile',
      isLoggedIn: 'auth/isLoggedIn'
    })
  },
  async beforeMount () {
    try {
      if (!this.isLoggedIn) return
      await this.getUserProfile()
    } catch (error) {
      // TODO handle profile loading fail
    }
  },
  methods: {
    ...mapActions({
      getUserProfile: 'user/getProfile'
    })
  }
}
</script>
<style scoped>
  .transparent{
    background-color: transparent;
  }
</style>
