// Small devices
@mixin screen-sm {
  @media (max-width: #{$screen-sm}) {
    @content;
  }
}

// Medium devices
@mixin screen-md {
  @media (max-width: #{$screen-md}) {
    @content;
  }
}

// Large devices
@mixin screen-lg {
  @media (max-width: #{$screen-lg}) {
    @content;
  }
}

// Extra large devices
@mixin screen-xl {
  @media (max-width: #{$screen-xl}) {
    @content;
  }
}
