<template>
  <v-dialog
    :value="visibility"
    max-width="420px"
    @input="onToggleVisibility"
  >
    <v-form
      ref="form"
      lazy-validation
      @submit.prevent="onSubmit"
    >
      <v-card class="pa-3">
        <v-card-text class="text-xs-center">
          <p class="pb-4">
            Что бы создать компанию с выбранными фильтрами введите название для рассылки
          </p>

          <v-text-field
            v-model="userData.title"
            :rules="[rules.minLength(5)]"
            label="Название рассылки"
          />

          <v-text-field
            v-model="userData.content"
            :rules="[rules.minLength(8)]"
            label="Описание"
          />
        </v-card-text>
        <v-card-actions
          class="pt-3"
        >
          <v-layout
            justify-between
          >
            <v-flex>
              <v-btn
                type="submit"
                class="text-none"
                color="primary"
                large
              >
                Создать
              </v-btn>
            </v-flex>
            <v-spacer />
            <v-flex>
              <v-btn
                class="text-none"
                flat
                large
                @click="onClose"
              >
                Отмена
              </v-btn>
            </v-flex>
          </v-layout>
        </v-card-actions>
      </v-card>
    </v-form>
  </v-dialog>
</template>

<script>
export default {
  name: 'DialogCreateCampaign',

  props: {
    visibility: {
      type: Boolean,
      default: false
    }
  },

  data () {
    return {
      userData: {
        title: '',
        content: ''
      }
    }
  },

  computed: {
    rules () {
      return {
        minLength (length) {
          return v => (v && v.length > length) || `Минимальная длинна ${length} симоволов`
        }
      }
    }
  },

  methods: {
    onToggleVisibility (value) {
      this.$emit('update:visibility', value)
    },

    onSubmit () {
      if (!this.$refs.form.validate()) {
        return
      }
      this.$emit('confirm', this.userData)
      this.onClose()
      this.resetUserData()
    },

    onClose () {
      this.onToggleVisibility(false)
    },

    resetUserData () {
      Object.keys(this.userData).forEach((field) => {
        this.userData[field] = ''
      })
    }
  }
}
</script>
