<template>
  <v-navigation-drawer
    :value="drawer"
    class="blue lighten-5"
    color="primary"
    fixed
    app

    @input="onChangeDrawer"
  >
    <m-admin />
    <m-menu />
  </v-navigation-drawer>
</template>
<script>
import MAdmin from './MAdmin'
import MMenu from './MMenu'
export default {
  name: 'MAside',
  components: {
    MAdmin,
    MMenu
  },
  props: {
    drawer: {
      type: Boolean,
      default: false
    }
  },

  methods: {
    onChangeDrawer (value) {
      this.$emit('changeDrawer', value)
    }
  }
}
</script>
