@import "mixins/index";
table.v-table thead td:not(:nth-child(1)), table.v-table tbody td:not(:nth-child(1)), table.v-table thead th:not(:nth-child(1)), table.v-table tbody th:not(:nth-child(1)), table.v-table thead td:first-child, table.v-table tbody td:first-child, table.v-table thead th:first-child, table.v-table tbody th:first-child{
  padding: 0 12px;
}
.v-picker--date{
  width: 100%;
}
.text-field {
  &--title {
    color: #A0B3C6;
    font-size: 14px;
    line-height: 16px;
    display: block;
    min-height: 25px;
  }
}
@media screen and (max-width: 992px) and (min-width: 768px) {
  .v-date-range__pickers .v-picker.mr-4{
    margin-right: 5px!important;
  }
  .v-date-range__pickers .v-card__text{
    padding: 0;
  }
}


@media screen and (max-width: 767px) {
  .v-date-range__pickers .v-date-range__content{
    flex-wrap: wrap!important;
  }
  .v-date-range__pickers .v-picker{
    margin: 0!important;
    width: 100%;
    &.mr-4{
      margin-bottom: 10px!important;
    }
  }
  .v-date-range__pickers .v-card__text{
    padding: 0;
  }
  .v-picker__body{
    max-width: 100%;
    width: 100%!important; 
  }
  .v-date-picker-table table{
    max-width: 100%;
    width: 100%;
  }
  .v-date-picker-table--date td{
    width: auto!important;
  }
}
@media screen and (max-width: 480px) {
  .v-date-range__menu-content .v-card__text{
    padding: 0;
  }
}