<template>
  <v-layout wrap>
    <events-item
      v-for="event in events"
      :key="event.id"
      :event="event"
      @edit-event="onEditEvent"
      @edit-position="onEditPosition"
    />
    <edit-event
      :event-edit="eventEdit"
      :show-dialog.sync="showDialog"
      @update-event="onUpdateEvent"
    />
    <event-map
      :event="eventEdit"
      :show-map.sync="showMap"
    />
  </v-layout>
</template>
<script>
import EventsItem from './EventsItem'
import EditEvent from './EditEvent'
import EventMap from './EventMap'
import { mapActions } from 'vuex'
import { get } from 'lodash'
export default {
  components: {
    EventsItem,
    EditEvent,
    EventMap
  },
  props: {
    events: {
      type: Array,
      default: () => ({}),
      required: true
    }
  },
  data () {
    return {
      eventEdit: {},
      showDialog: false,
      showMap: false
    }
  },
  methods: {
    ...mapActions({
      updateEvent: 'events/updateEvent'
    }),
    async onEditEvent (payload) {
      this.showDialog = true
      this.eventEdit = payload
    },
    async onEditPosition (payload) {
      this.showMap = true
      this.eventEdit = payload
    },
    async onUpdateEvent (event) {
      try {
        await this.updateEvent(event)
        this.showDialog = false
        const message = 'Данные пользователя обновлены'
        await this.$bus.$emit('snackbar:open', {
          color: 'success',
          message
        })
      } catch (error) {
        let message = get(error, 'response.data.errors', 'Ошибка при обновлении данных')
        this.$bus.$emit('snackbar:open', {
          color: 'error',
          message
        })
      }
    }
  }
}
</script>
