<template>
  <v-menu
    bottom
    offset-y
  >
    <template v-slot:activator="{ on }">
      <v-btn
        small
        color="primary"
        dark
        v-on="on"
      >
        Заблокировать
      </v-btn>
    </template>
    <v-list>
      <v-list-tile
        v-for="(item, i) in classList"
        :key="i"
        @click="onUpdateClass(item)"
      >
        <v-list-tile-title>{{ item.title }}</v-list-tile-title>
      </v-list-tile>
    </v-list>
  </v-menu>
</template>
<script>
export default {
  name: 'PhotoSelectStatus',
  props: {
    classList: {
      type: Array,
      default: () => ({}),
      required: true
    }
  },
  methods: {
    async onUpdateClass (item) {
      this.$emit('update-class', item)
    }
  }
}
</script>
<style >
</style>
