<template>
  <v-dialog
    :value="showMap"
    max-width="800px"
    @input="onToggleDialog"
  >
    <gmap-map
      ref="gmap"
      :center="center"
      :zoom="8"
      style="width:100%;  height: 80vh;"
    >
      <GmapMarker
        :position="position"
        :draggable="false"
      />
    </gmap-map>
  </v-dialog>
</template>
<script>
export default {
  components: {
  },
  props: {
    showMap: {
      type: Boolean,
      default: false
    },
    event: {
      type: Object,
      default: () => ({}),
      required: true
    }
  },
  data () {
    return {
      eventMap: {},
      center: {
        lat: 50,
        lng: 30
      },
      position: {
        lat: 50,
        lng: 30
      }
    }
  },
  watch: {
    event (event) {
      this.center.lat = event.lat
      this.center.lng = event.long
      this.position.lat = event.lat
      this.position.lng = event.long
      this.eventMap = { ...event }
    }
  },
  methods: {
    onToggleDialog (value) {
      this.$emit('update:show-map', value)
    }
  }
}
</script>
