<template>
  <v-layout
    row
    wrap
  >
    <v-flex xs12>
      <filters
        :filters="filters"
        :loading-create-campaign="loadingCreateCampaign"
        :disable-create-campaign="createCampaignAvaible"
        @update:filters="onFiltersUpdate"
        @create-campaign="onPrepareCampaign"
      />
    </v-flex>

    <div
      v-infinite-scroll="loadMore"
      :infinite-scroll-throttle-delay="1000"
      class="justify-center flex"
    >
      <v-container
        v-if="!usersLoaded"
        fill-height
      >
        <v-layout
          row
          justify-center
        >
          <v-progress-circular
            :size="50"
            color="primary"
            indeterminate
          />
        </v-layout>
      </v-container>
      <user-table
        v-else
        key="campaigns-table"
        :users="usersList"
        :loading-user-id="loadingUserId"
        @update-status="onUpdateUserStatus"
      />

      <v-layout
        justify-center
        class="pa-4"
      >
        <v-progress-circular
          v-if="loadingMore"
          :size="50"
          color="primary"
          indeterminate
        />
      </v-layout>
    </div>

    <dialog-create-campaign
      :visibility.sync="showDialogCampaign"
      @confirm="onCreateCampaign"
    />
  </v-layout>
</template>
<script>
import Filters from './Filters'
import UserTable from 'components/sections/UserTable'
import { mapGetters, mapActions } from 'vuex'
import { get } from 'lodash'
import DialogCreateCampaign from './CreateCampaign'

export default {
  name: 'Mailing',

  components: {
    Filters,
    UserTable,
    DialogCreateCampaign
  },

  data () {
    return {
      filters: {
        regFrom: null,
        regTo: null,
        birthdayFrom: null,
        birthdayTo: null,
        lastActiveFrom: null,
        lastActiveTo: null,
        eventsCountFrom: null,
        eventsCountTo: null,
        followingFrom: null,
        followingTo: null,
        followersFrom: null,
        followersTo: null
      },

      pagination: {
        limit: 20,
        offset: 0
      },

      loading: false,
      loadingUserId: 0,
      loadingCreateCampaign: false,

      showDialogCampaign: false
    }
  },

  computed: {
    ...mapGetters({
      usersList: 'campaigns/usersList',
      usersLoaded: 'campaigns/usersLoaded',
      limitReached: 'campaigns/usersLimitReached'
    }),

    loadMoreAvailable () {
      return !this._inactive && this.usersLoaded && !this.loading && !this.limitReached
    },

    loadingMore () {
      return this.usersLoaded && this.loading
    },

    defaultFilters: {
      get () {
        return {
          regFrom: null,
          regTo: null,
          birthdayFrom: null,
          birthdayTo: null,
          lastActiveFrom: null,
          lastActiveTo: null,
          eventsCountFrom: null,
          eventsCountTo: null,
          followingFrom: null,
          followingTo: null,
          followersFrom: null,
          followersTo: null
        }
      }
    },

    hasTargetedUsers () {
      return Object.keys(this.usersList).length === 0
    },

    hasFilterFiled () {
      const filters = this.filters
      return Object.keys(filters).some((filter) => Boolean(filters[filter]))
    },

    createCampaignAvaible () {
      console.log()
      return !this.hasTargetedUsers && this.hasFilterFiled
    }
  },

  beforeMount () {
    this.loadUsers()
  },

  methods: {
    ...mapActions({
      fetchUsers: 'campaigns/fetchUsers',
      loadMoreUsers: 'campaigns/getUsers',
      updateUserStatus: 'campaigns/updateUserStatus',
      createCampaign: 'campaigns/createCampaign'
    }),

    onFiltersUpdate (newFilters) {
      this.filters = newFilters
      this.loadUsers(this.filters)
    },

    async loadUsers (filters = {}) {
      this.loading = true

      this.pagination = {
        offset: 0,
        limit: this.pagination.limit
      }

      try {
        await this.fetchUsers({
          ...filters,
          ...this.pagination
        })
      } catch (err) {
        let error = get(err, 'response.data.errors', 'Ошибка при загрузке пользователей')
        this.$bus.$emit('snackbar:open', {
          color: 'error',
          message: error
        })
      } finally {
        this.loading = false
      }
    },

    async loadMore (filters) {
      if (!this.loadMoreAvailable) return
      this.loading = true

      const { offset, limit } = this.pagination
      const pagination = {
        offset: offset + limit,
        limit
      }

      try {
        await this.loadMoreUsers({
          ...this.filters,
          ...pagination
        })

        this.pagination = { ...pagination }
      } catch (error) {
        let message = get(error, 'response.data.errors', 'Ошибка при загрузке пользователей')

        this.$bus.$emit('snackbar:open', {
          color: 'error',
          message
        })
      } finally {
        this.loading = false
      }
    },

    async onUpdateUserStatus ({ userId, isBlocked }) {
      try {
        this.loadingUserId = userId

        await this.updateUserStatus({
          isBlocked,
          userId
        })

        const message = isBlocked ? 'Пользователь заблокирован' : 'Пользователь разблокирован'

        await this.$bus.$emit('snackbar:open', {
          color: 'success',
          message
        })
      } catch (error) {
        let message = get(error, 'response.data.errors', 'Ошибка при изменении статуса')

        this.$bus.$emit('snackbar:open', {
          color: 'error',
          message
        })
      } finally {
        this.loadingUserId = 0
      }
    },

    onPrepareCampaign () {
      if (!this.hasFilterFiled) {
        return this.$bus.$emit('snackbar:open', {
          color: 'error',
          message: 'Для созднания комания необходимо заполнить все фильтры'
        })
      }
      if (this.hasTargetedUsers) {
        return this.$bus.$emit('snackbar:open', {
          color: 'error',
          message: 'Для созднания нету подходяших пользователей'
        })
      }
      //
      this.showDialogCampaign = true
    },

    async onCreateCampaign ({ title, content }) {
      this.loadingCreateCampaign = true
      try {
        const campaign = {
          title,
          content,
          ...this.filters
        }

        await this.createCampaign(campaign)

        this.filters = { ...this.defaultFilters }

        this.$bus.$emit('snackbar:open', {
          color: 'success',
          message: 'Рассылка успешно создана!'
        })

        this.$router.push({
          name: 'campaigns-stats'
        })
      } catch (error) {
        let message = get(error, 'response.data.errors', 'Ошибка при создании рассылка')

        this.$bus.$emit('snackbar:open', {
          color: 'error',
          message
        })
      } finally {
        this.loadingCreateCampaign = false
      }
    }
  }
}
</script>
