<template>
  <v-flex
    xs12
    sm6
    md4
    lg4
    xl3
    class="mb-3 pa-2"
  >
    <v-card>
      <v-img
        v-if="event.photoMain"
        :src="event.photoMain"
        height="200px"
      />
      <v-img
        v-else
        src="http://saveabandonedbabies.org/wp-content/uploads/2015/08/default.png"
        height="200px"
      />
      <v-card-title>
        {{ event.name }}
      </v-card-title>
      <v-divider />
      <v-list-tile
        avatar
      >
        <v-list-tile-avatar
          size="30px"
        >
          <img
            v-if="event.user.avatar"
            :src="event.user.avatar.large"
          >
          <v-icon
            v-else
          >
            account_box
          </v-icon>
        </v-list-tile-avatar>
        <v-list-tile-content>
          <v-list-tile-title>{{ event.user.name }}</v-list-tile-title>
        </v-list-tile-content>
      </v-list-tile>
      <v-card-text>
        <v-layout
          align-center
          row
          wrap
        >
          <v-flex
            xs12
            sm6
          >
            <v-img
              v-if="event.photoCover"
              :src="event.photoCover"
              height="75px"
            />
            <v-img
              v-else
              src="http://saveabandonedbabies.org/wp-content/uploads/2015/08/default.png"
              height="75px"
            />
          </v-flex>
          <v-flex
            xs12
            sm6
          >
            {{ event.description }}
            <v-spacer />
            <v-icon
              class="place-marker theme--light"
              @click="onEditPosition(event)"
            >
              place
            </v-icon>
          </v-flex>
        </v-layout>
      </v-card-text>
      <v-card-text>
        <v-icon>date_range</v-icon>
        {{ formateDate(event.time) }}
      </v-card-text>
      <v-divider />
      <v-layout
        align-center
        justify-center
        row
      >
        <v-btn
          @click="onEditEvent(event)"
        >
          Редактировать
        </v-btn>
      </v-layout>
    </v-card>
  </v-flex>
</template>
<script>
export default {
  name: 'EventsItem',
  props: {
    event: {
      type: Object,
      default: () => ({}),
      required: true
    }
  },
  methods: {
    formateDate (dateItem) {
      const date = new Date(dateItem)
      const month = date.toLocaleString('ru-RU', { month: 'short' })
      const time = date.toLocaleString('ru-RU', { hour: 'numeric', minute: 'numeric', hour12: false })
      return date.getDate() + ' ' + month + ' ' + date.getFullYear() + ' в ' + time
    },
    async onEditEvent (payload) {
      this.$emit('edit-event', payload)
    },
    async onEditPosition (payload) {
      this.$emit('edit-position', payload)
    }
  }
}
</script>
<style scoped>
.place-marker{
  font-size: 35px;
}
</style>
