<template>
  <v-card>
    <v-img
      :src="imageUrl"
      height="150px"
    >
      <v-container
        fill-height
        fluid
      >
        <v-layout
          v-if="!imageUrl"
          key="upload"
          fill-height
          align-center
          justify-center
        >
          <v-btn
            color="success"
            @click="onSelect"
          >
            Загрузить
          </v-btn>
          <input
            ref="fileInput"
            :accept="acceptTypes"
            type="file"
            hidden
            @change="onSelected"
          >
        </v-layout>
        <v-layout
          v-else
          key="remove"
          fill-height
          align-end
          justify-center
        >
          <v-btn
            color="error"
            @click="onDelete"
          >
            Удалить
          </v-btn>
        </v-layout>
      </v-container>
    </v-img>
  </v-card>
</template>
<script>
export default {
  name: 'MSelectImage',
  props: {
    imageUrl: {
      type: String,
      default: ''
    },
    disabled: {
      type: Boolean,
      default: false
    }
  },
  data () {
    return {
      acceptTypes: 'image/gif, image/jpeg, image/png, image/jpg'
    }
  },
  methods: {
    onSelect () {
      if (this.disabled) return
      this.$refs.fileInput.value = ''
      this.$refs.fileInput.click()
    },
    onSelected (event) {
      const files = event.target.files || event.dataTransfer.files
      const file = files && files.length > 0 ? files[0] : null
      if (!file) return
      this.$emit('selected', file)
    },
    onDelete () {
      this.$emit('remove')
    }
  }
}
</script>
