<template>
  <v-menu
    v-model="menu"
    :close-on-content-click="false"
    full-width
    max-width="290"
    transition="scale-transition"
  >
    <v-text-field
      slot="activator"
      :label="label"
      append-icon="date_range"
      solo
      :value="formattedDate"
      @input="handleDateTime"
    />
    <v-date-picker
      v-if="isOpened"
      ref="picker"
      v-model="selectedDate"
      locale="ru-ru"
      :max="maxDate"
    >
      <v-spacer />
      <v-btn
        flat
        color="primary"
        @click="menu = false"
      >
        Выход
      </v-btn>
      <v-btn
        flat
        color="primary"
        @click="onChoose"
      >
        OK
      </v-btn>
    </v-date-picker>
  </v-menu>
</template>
<script>
import dateFns from 'date-fns'
export default {
  name: 'MDatepicker',
  props: {
    label: {
      type: String,
      default: null
    },
    value: {
      type: String,
      default: null
    }
  },
  data () {
    const maxDate = new Date()
    return {
      menu: false,
      selectedDate: null,
      isOpened: true,
      max: maxDate
    }
  },
  computed: {
    formattedDate () {
      return dateFns.format(this.selectedDate, 'YYYY-MM-DD')
    },
    maxDate () {
      const date = new Date()
      date.setFullYear(date.getFullYear() - 13)
      return date.toISOString().substr(0, 10)
    }
  },
  watch: {
    menu (opened) {
      if (!opened) this.isOpened = true
      opened && setTimeout(() => (this.$refs.picker.activePicker = 'YEAR'))
    },
    value: {
      immediate: true,
      handler (selectedDate) {
        this.selectedDate = selectedDate || new Date().toISOString().substr(0, 10)
      }
    },
    formattedDate (v) {
      this.$emit('input', this.formattedDate)
    }
  },
  methods: {
    onChoose () {
      this.handleDateTime()
      this.menu = false
    },
    handleDateTime () {
      this.$emit('input', this.selectedDate)
    }
  }
}
</script>
