<template>
  <v-container
    fluid
    grid-list-md
  >
    <v-layout
      align-center
      justify-space-between
      row
      wrap
      class="mb-4"
    >
      <v-tabs
        slider-color="primary"
        wrap
      >
        <v-tab to="/accounts/">
          Запланированные события
        </v-tab>
        <v-tab to="/accounts/users">
          Системные пользователи
        </v-tab>
      </v-tabs>
      <v-spacer />
      <dialog-user v-if="isAccountsPage" />
      <dialog-event v-else />
    </v-layout>
    <router-view />
  </v-container>
</template>
<script>
import DialogUser from './DialogUser'
import DialogEvent from './DialogEvent'
export default {
  name: 'Accounts',
  components: {
    DialogUser,
    DialogEvent
  },
  data () {
    return {
      dialog: true
    }
  },
  computed: {
    isAccountsPage () {
      return this.$route.name === 'accounts-users'
    }
  },
  methods: {
    onAddUser () {
      this.dialog = true
    },
    onAddEvent () {},
    onOpenDialog () {
      this.dialog = true
    }
  }
}
</script>
<style>
@media screen and (max-width: 767px) {
  .v-tabs__div{
    font-size: 10px;
    line-height: 14px;
  }
  .v-tabs__item{
    padding: 2px 4px;
  }
  .v-tabs__container{
    flex-wrap: wrap;
  }
  .v-tabs__slider-wrapper{
    display: none!important;
  }
}
</style>
