<template>
  <v-card class="pa-2">
    <v-card-text>
      <v-form
        ref="form"
      >
        <v-layout
          row
          wrap
          justify-start
        >
          <v-flex
            xs12
            md6
            xl4
          >
            <span class="text-field-title">Рейтинг проблемности фото:</span>
            <v-layout
              row
              align-center
            >
              <v-flex>
                <v-subheader>От</v-subheader>
              </v-flex>
              <v-flex>
                <v-text-field
                  v-model="innerFilters.nsfwRatingMin"
                  :mask="mask.number"
                  min="0"
                  maxlength="100"
                  hide-details
                  label="0%"
                  solo
                  @keyup="updateFilters"
                />
              </v-flex>
              <v-flex>
                <v-subheader>до</v-subheader>
              </v-flex>
              <v-flex>
                <v-text-field
                  v-model="innerFilters.nsfwRatingMax"
                  :mask="mask.number"
                  min="0"
                  maxlength="100"
                  hide-details
                  label="100%"
                  solo
                  @keyup="updateFilters"
                />
              </v-flex>
            </v-layout>
          </v-flex>
          <v-flex
            xs12
            md6
            xl4
          >
            <span class="text-field-title">Промежуток времени, за которое нужно показать фото:</span>
            <v-layout
              row
              align-center
            >
              <v-flex>
                <v-menu
                  v-model="menu1"
                  :close-on-content-click="false"
                  lazy
                  transition="scale-transition"
                  offset-y
                  full-width
                  min-width="290px"
                >
                  <template v-slot:activator="{ on }">
                    <v-text-field
                      v-model="dateStart"
                      prepend-inner-icon="date_range"
                      hide-details
                      solo
                      readonly
                      v-on="on"
                    />
                  </template>
                  <v-date-picker
                    v-model="dateStart"
                    locale="ru-RU"
                    @input="onDateStart"
                  />
                </v-menu>
              </v-flex>
              <v-flex shrink>
                <v-subheader>-</v-subheader>
              </v-flex>
              <v-flex>
                <v-menu
                  v-model="menu2"
                  :close-on-content-click="false"
                  lazy
                  transition="scale-transition"
                  offset-y
                  full-width
                  min-width="290px"
                >
                  <template v-slot:activator="{ on }">
                    <v-text-field
                      v-model="dateEnd"
                      prepend-inner-icon="date_range"
                      hide-details
                      solo
                      readonly
                      v-on="on"
                    />
                  </template>
                  <v-date-picker
                    v-model="dateEnd"
                    locale="ru-RU"
                    @input="onDateEnd"
                  />
                </v-menu>
              </v-flex>
            </v-layout>
          </v-flex>
          <v-flex
            xs12
            md6
            xl4
          >
            <span class="text-field-title">&nbsp;</span>
            <v-btn
              color="primary"
              large
              @click="resetForm"
            >
              Сбросить фильтр
            </v-btn>
          </v-flex>
        </v-layout>
      </v-form>
    </v-card-text>
  </v-card>
</template>
<script>
import { isEqual } from 'lodash'
import dateFns from 'date-fns'

const initialFilters = {
  nsfwRatingMin: null,
  nsfwRatingMax: null,
  createdTo: null,
  createdFrom: null
}
export default {
  name: 'PhotoFilters',
  props: {
    filters: {
      type: Object,
      default: () => ({}),
      required: true
    }
  },
  data () {
    return {
      range: {},
      innerFilters: { ...initialFilters },
      datepicker: {
        max: dateFns.format(new Date(), 'YYYY-MM-DD'),
        inputProps: { solo: true, hideDetails: true, style: { width: '280px' } }
      },
      mask: {
        number: '###'
      },
      dateEnd: null,
      dateStart: null,
      menu2: false,
      menu1: false
    }
  },
  watch: {
    filters: {
      immediate: true,
      handler (filters) {
        this.innerFilters = { ...filters }
      }
    }
  },
  methods: {
    updateFilters () {
      if (isEqual(this.innerFilters, this.filters)) return

      this.$emit('update:filters', this.innerFilters)
    },
    onDateStart () {
      this.menu1 = false
      this.innerFilters.createdFrom = new Date(this.dateStart).toISOString()
      this.$emit('update:filters', this.innerFilters)
    },
    onDateEnd () {
      this.menu2 = false
      this.innerFilters.createdTo = new Date(this.dateEnd).toISOString()
      this.$emit('update:filters', this.innerFilters)
    },
    resetForm () {
      this.$emit('update:filters', { ...initialFilters })
      this.$refs.form.reset()
    }
  }
}
</script>
<style scoped>
.text-field-title {
  color: #A0B3C6;
  font-size: 14px;
  line-height: 16px;
  display: block;
  min-height: 20px;
}

.v-subheader {
  padding: 0;
}

.v-menu--inline {
  width: 100%;
}

.v-text-field.v-text-field--enclosed {
  max-width: 100%;
}
</style>
