<template>
  <v-card class="pa-2 mb-3">
    <v-card-text>
      <v-form
        ref="form"
      >
        <v-layout
          row
          wrap
          justify-start
        >
          <v-flex
            xs12
            sm6
            md4
          >
            <span class="text-field--title">Пользователи, зарегистрированные в период:</span>
            <v-layout
              row
              align-center
            >
              <v-flex>
                <v-menu
                  v-model="menu1"
                  :close-on-content-click="false"
                  lazy
                  transition="scale-transition"
                  offset-y
                  full-width
                  min-width="290px"
                >
                  <template v-slot:activator="{ on }">
                    <v-text-field
                      v-model="registrationStart"
                      hide-details
                      solo
                      readonly
                      v-on="on"
                    />
                  </template>
                  <v-date-picker
                    v-model="registrationStart"
                    locale="ru-RU"
                    @input="onRegistrationStart"
                  />
                </v-menu>
              </v-flex>
              <v-flex shrink>
                <v-subheader>-</v-subheader>
              </v-flex>
              <v-flex>
                <v-menu
                  v-model="menu2"
                  :close-on-content-click="false"
                  lazy
                  transition="scale-transition"
                  offset-y
                  full-width
                  min-width="290px"
                >
                  <template v-slot:activator="{ on }">
                    <v-text-field
                      v-model="registrationEnd"
                      hide-details
                      solo
                      readonly
                      v-on="on"
                    />
                  </template>
                  <v-date-picker
                    v-model="registrationEnd"
                    locale="ru-RU"
                    @input="onRegistrationEnd"
                  />
                </v-menu>
              </v-flex>
            </v-layout>
          </v-flex>

          <v-flex
            xs12
            sm6
            md4
          >
            <span class="text-field--title">Дата рождения в период:</span>
            <v-layout
              row
              align-center
            >
              <v-flex>
                <v-menu
                  v-model="menu3"
                  :close-on-content-click="false"
                  lazy
                  transition="scale-transition"
                  offset-y
                  full-width
                  min-width="290px"
                >
                  <template v-slot:activator="{ on }">
                    <v-text-field
                      v-model="dateOfBirthStart"
                      hide-details
                      solo
                      readonly
                      v-on="on"
                    />
                  </template>
                  <v-date-picker
                    v-model="dateOfBirthStart"
                    locale="ru-RU"
                    @input="onDateOfBirthStart"
                  />
                </v-menu>
              </v-flex>
              <v-flex shrink>
                <v-subheader>-</v-subheader>
              </v-flex>
              <v-flex>
                <v-menu
                  v-model="menu4"
                  :close-on-content-click="false"
                  lazy
                  transition="scale-transition"
                  offset-y
                  full-width
                  min-width="290px"
                >
                  <template v-slot:activator="{ on }">
                    <v-text-field
                      v-model="dateOfBirthEnd"
                      hide-details
                      solo
                      readonly
                      v-on="on"
                    />
                  </template>
                  <v-date-picker
                    v-model="dateOfBirthEnd"
                    locale="ru-RU"
                    @input="onDateOfBirthEnd"
                  />
                </v-menu>
              </v-flex>
            </v-layout>
          </v-flex>

          <v-flex
            xs12
            sm6
            md4
          >
            <span class="text-field--title">Последний раз активны:</span>
            <v-layout
              row
              align-center
            >
              <v-flex>
                <v-menu
                  v-model="menu5"
                  :close-on-content-click="false"
                  lazy
                  transition="scale-transition"
                  offset-y
                  full-width
                  min-width="290px"
                >
                  <template v-slot:activator="{ on }">
                    <v-text-field
                      v-model="lastActiveSrart"
                      hide-details
                      solo
                      readonly
                      v-on="on"
                    />
                  </template>
                  <v-date-picker
                    v-model="lastActiveSrart"
                    locale="ru-RU"
                    @input="onLastActiveStart"
                  />
                </v-menu>
              </v-flex>
              <v-flex shrink>
                <v-subheader>-</v-subheader>
              </v-flex>
              <v-flex>
                <v-menu
                  v-model="menu6"
                  :close-on-content-click="false"
                  lazy
                  transition="scale-transition"
                  offset-y
                  full-width
                  min-width="290px"
                >
                  <template v-slot:activator="{ on }">
                    <v-text-field
                      v-model="lastActiveEnd"
                      hide-details
                      solo
                      readonly
                      v-on="on"
                    />
                  </template>
                  <v-date-picker
                    v-model="lastActiveEnd"
                    locale="ru-RU"
                    @input="onLastActiveEnd"
                  />
                </v-menu>
              </v-flex>
            </v-layout>
          </v-flex>

          <v-flex
            xs12
            sm6
            md4
          >
            <span class="text-field--title">Количество событий в которых учавствовал:</span>
            <v-layout
              row
              align-center
            >
              <v-flex>
                <v-text-field
                  v-model="innerFilters.eventsCountFrom"
                  :mask="mask.number"
                  placeholder="От"
                  hide-details
                  solo
                  @keyup="updateFilters"
                />
              </v-flex>
              <v-flex shrink>
                <v-subheader>
                  -
                </v-subheader>
              </v-flex>
              <v-flex>
                <v-text-field
                  v-model="innerFilters.eventsCountTo"
                  :mask="mask.number"
                  placeholder="До"
                  hide-details
                  solo
                  @keyup="updateFilters"
                />
              </v-flex>
            </v-layout>
          </v-flex>

          <v-flex
            xs12
            sm6
            md4
          >
            <span class="text-field--title">По количеству тех, на кого пользователь подписан:</span>
            <v-layout
              row
              align-center
            >
              <v-flex>
                <v-text-field
                  v-model="innerFilters.followingFrom"
                  :mask="mask.number"
                  placeholder="От"
                  hide-details
                  solo
                  @keyup="updateFilters"
                />
              </v-flex>
              <v-flex shrink>
                <v-subheader>
                  -
                </v-subheader>
              </v-flex>
              <v-flex>
                <v-text-field
                  v-model="innerFilters.followingTo"
                  :mask="mask.number"
                  placeholder="До"
                  hide-details
                  solo
                  @keyup="updateFilters"
                />
              </v-flex>
            </v-layout>
          </v-flex>

          <v-flex
            xs12
            sm6
            md4
          >
            <span class="text-field--title">По количеству подписчиков пользователей:</span>
            <v-layout
              row
              align-center
            >
              <v-flex>
                <v-text-field
                  v-model="innerFilters.followersFrom"
                  :mask="mask.number"
                  placeholder="От"
                  hide-details
                  solo
                  @keyup="updateFilters"
                />
              </v-flex>
              <v-flex shrink>
                <v-subheader>-</v-subheader>
              </v-flex>
              <v-flex>
                <v-text-field
                  v-model="innerFilters.followersTo"
                  :mask="mask.number"
                  placeholder="До"
                  hide-details
                  solo
                  @keyup="updateFilters"
                />
              </v-flex>
            </v-layout>
          </v-flex>
        </v-layout>

        <v-layout
          class="pt-4"
          row
          justify-end
        >
          <v-btn
            color="primary"
            large
            @click="resetForm"
          >
            Сбросить фильтр
          </v-btn>
          <v-spacer />
          <v-btn
            :loading="loadingCreateCampaign"
            :disabled="!disableCreateCampaign"
            color="primary"
            large
            @click="onCreateCampaign"
          >
            Создать рассылку
          </v-btn>
        </v-layout>
        <div class="user-counter">
          Кол-во найденных пользователей: <span>{{ usersCount }}</span>
        </div>
      </v-form>
    </v-card-text>
  </v-card>
</template>
<script>
import dateFns from 'date-fns'
import { isEqual } from 'lodash'
import { mapGetters } from 'vuex'
const initialFilters = {
  regFrom: null,
  regTo: null,
  birthdayFrom: null,
  birthdayTo: null,
  lastActiveFrom: null,
  lastActiveTo: null,
  eventsCountFrom: null,
  eventsCountTo: null,
  followingFrom: null,
  followingTo: null,
  followersFrom: null,
  followersTo: null
}

export default {
  name: 'Filters',

  props: {
    filters: {
      type: Object,
      default: () => ({}),
      required: true
    },
    loadingCreateCampaign: {
      type: Boolean,
      default: false
    },
    disableCreateCampaign: {
      type: Boolean,
      default: false
    }
  },

  data () {
    return {
      innerFilters: { ...initialFilters },
      datepicker: {
        registration: {},
        dateOfBirth: {},
        active: {},
        inputProps: { solo: true, hideDetails: true, style: { width: '100%' } },
        max: dateFns.format(new Date(), 'YYYY-MM-DD')
      },
      mask: {
        number: '###'
      },
      registrationStart: null,
      registrationEnd: null,
      dateOfBirthStart: null,
      dateOfBirthEnd: null,
      lastActiveSrart: null,
      lastActiveEnd: null,
      menu1: false,
      menu2: false,
      menu3: false,
      menu4: false,
      menu5: false,
      menu6: false
    }
  },

  computed: {
    ...mapGetters({
      usersCount: 'campaigns/usersCount'
    })
  },

  watch: {
    filters: {
      immediate: true,
      handler (filters) {
        this.innerFilters = { ...filters }
      }
    }
  },

  methods: {
    updateFilters () {
      if (isEqual(this.innerFilters, this.filters)) return
      this.$emit('update:filters', this.innerFilters)
    },
    onRegistrationStart () {
      this.menu1 = false
      this.innerFilters.regFrom = this.formatDate(this.registrationStart)
      this.updateFilters()
    },
    onRegistrationEnd () {
      this.menu2 = false
      this.innerFilters.regTo = this.formatDate(this.registrationEnd)
      this.updateFilters()
    },
    onDateOfBirthStart () {
      this.menu3 = false
      this.innerFilters.birthdayFrom = this.formatDate(this.dateOfBirthStart)
      this.updateFilters()
    },
    onDateOfBirthEnd () {
      this.menu4 = false
      this.innerFilters.birthdayTo = this.formatDate(this.dateOfBirthEnd)
      this.updateFilters()
    },
    onLastActiveStart () {
      this.menu5 = false
      this.innerFilters.lastActiveFrom = this.formatDate(this.lastActiveSrart)
      this.updateFilters()
    },
    onLastActiveEnd () {
      this.menu6 = false
      this.innerFilters.lastActiveTo = this.formatDate(this.lastActiveEnd)
      this.updateFilters()
    },

    onCreateCampaign () {
      this.$emit('create-campaign')
    },

    formatDate (dateTime) {
      const date = new Date(dateTime)
      const timezoneOffset = date.getTimezoneOffset() * 60 * 1000
      const timestamp = date.getTime()

      return dateFns.format(
        timestamp + (timezoneOffset),
        'YYYY-MM-DDTHH:mm:ss.SSSSSSZ'
      )
    },
    resetForm () {
      this.$emit('update:filters', { ...initialFilters })
      this.$refs.form.reset()
    }
  }
}
</script>
<style scoped>
.text-field--title {
  color: #A0B3C6;
  font-size: 14px;
  line-height: 16px;
  display: block;
  min-height: 0px;
}
.v-subheader{
  padding: 0 4px;
}
.user-counter{
  margin-top: 15px
}
.user-counter span{
  font-weight: 700;
  font-size: 20px;
}
@media screen and (max-width: 1480px) {
  .text-field--title{
    min-height: 35px;
  }
}
@media screen and (max-width: 600px) {
  .text-field--title{
    min-height: 0;
  }
}
</style>
