<template>
  <v-data-table
    :items="accounts"
    class="elevation-1"
    hide-headers
    hide-actions
    disable-initial-sort
    item-key="id"
  >
    <template v-slot:items="props">
      <td>
        <v-list-tile
          avatar
        >
          <v-list-tile-avatar
            size="30px"
          >
            <img
              v-if="props.item.avatar"
              :src="props.item.avatar"
            >
            <v-icon
              v-else
            >
              account_box
            </v-icon>
          </v-list-tile-avatar>

          <v-list-tile-content>
            <v-list-tile-title>{{ props.item.name }}</v-list-tile-title>
          </v-list-tile-content>
        </v-list-tile>
      </td>
      <td class="text-xs-right">
        <v-btn
          small
          dark
          @click="onEditUser(props.item)"
        >
          Редактировать
        </v-btn>
      </td>
    </template>
    <template slot="no-data">
      <v-alert
        :value="true"
        color="error"
        icon="warning"
      >
        Нету результатов
      </v-alert>
    </template>
  </v-data-table>
</template>
<script>
export default {
  name: 'UsersList',
  props: {
    accounts: {
      type: Array,
      default: () => ({}),
      required: true
    }
  },
  methods: {
    async onEditUser (payload) {
      this.$emit('edit-user', payload)
    }
  }
}
</script>
<style>
  .v-date-range .v-menu--inline{
    display: block!important;
  }
</style>
