<template>
  <v-data-table
    :headers="headers"
    :items="usersList"
    class="elevation-1"
    hide-actions
    disable-initial-sort
    item-key="id"
  >
    <template #items="props">
      <td>
        <v-list-tile
          avatar
        >
          <v-list-tile-avatar
            size="30px"
          >
            <img
              v-if="props.item.avatar"
              :src="props.item.avatar"
            >
            <v-icon
              v-else
            >
              account_box
            </v-icon>
          </v-list-tile-avatar>

          <v-list-tile-content>
            <v-list-tile-title>{{ props.item.name }}</v-list-tile-title>
          </v-list-tile-content>
        </v-list-tile>
      </td>
      <td class="text-xs-center">
        {{ props.item.role }}
      </td>
      <td class="text-xs-center">
        {{ formatDate(props.item.created) }}
      </td>
      <td class="text-xs-center">
        {{ formatDate(props.item.reqDate) }}
      </td>
      <td class="text-xs-center">
        {{ props.item.followers }}
      </td>
      <td class="text-xs-center">
        {{ props.item.followings }}
      </td>
      <td class="text-xs-center">
        <v-btn
          :class="{ primary: !props.item.isBlocked }"
          small
          dark
          :loading="isUserLoading(props.item.id)"
          @click="onBlockedUser(props.item)"
        >
          <span v-if="props.item.isBlocked">Разблокировать</span>
          <span v-else>Заблокировать</span>
        </v-btn>
      </td>
    </template>
    <template slot="no-data">
      <v-alert
        :value="true"
        color="error"
        icon="warning"
      >
        Нет результатов
      </v-alert>
    </template>
  </v-data-table>
</template>
<script>
export default {
  name: 'ManagementTable',

  props: {
    users: {
      type: Array,
      default: () => ({}),
      required: true
    },

    loadingUserId: {
      type: Number,
      default: 0
    }
  },

  data: () => ({
    headers: [
      {
        text: 'Пользователь',
        align: 'left',
        value: 'name'
      },
      {
        text: 'Статус',
        align: 'center',
        sortable: false,
        value: 'role'
      },
      {
        text: 'Дата регистрации',
        align: 'center',
        sortable: false,
        value: 'reqDate'
      },
      {
        text: 'Дата последней активности',
        align: 'center',
        sortable: false,
        value: 'reqDate'
      },
      {
        text: 'Followers',
        align: 'center',
        sortable: false,
        value: 'followers'
      },
      {
        text: 'Following',
        align: 'center',
        sortable: false,
        value: 'followings'
      },
      { text: '', align: 'right', value: 'isBlocked' }
    ]
  }),

  computed: {
    usersList () {
      return [...this.users]
    }
  },

  methods: {
    async onBlockedUser (item) {
      const isBlockedReverse = !item.isBlocked
      this.$emit('update-status', {
        isBlocked: isBlockedReverse,
        userId: item.id
      })
    },

    formatDate (dateItem) {
      const date = new Date(dateItem)
      const month = date.toLocaleString('ru-RU', { month: 'short' })
      return date.getDate() + ' ' + month + ' ' + date.getFullYear()
    },

    isUserLoading (userId) {
      return this.loadingUserId === userId
    }
  }
}
</script>
<style>
.v-date-range .v-menu--inline {
  display: block !important;
}
</style>
