<template>
  <v-dialog
    :value="showDialog"
    max-width="400px"
    @input="onToggleDialog"
  >
    <v-card class="pa-2">
      <v-card-title>
        <h3>Редактировать данные пользователя</h3>
      </v-card-title>
      <v-card-text>
        <v-form
          id="edit-account-form"
          ref="form"
          lazy-validation
          @submit.prevent="onUpdateAccount"
        >
          <v-text-field
            v-model="userData.name"
            :rules="nameRules"
            label="Имя"
            append-icon="edit"
            solo
            class="mb-1"
          />
          <div class="theme--light v-label mb-2">
            Укажите день рождения
          </div>
          <m-datepicker
            v-model="userData.birthday"
            class="mb-1"
          />
          <div class="theme--light v-label mb-2">
            Загрузите аватар
          </div>
          <v-container
            v-if="loadingImg"
            fill-height
            class="progress-img"
          >
            <v-layout
              row
              justify-center
              align-center
            >
              <v-progress-circular
                :size="50"
                color="primary"
                indeterminate
              />
            </v-layout>
          </v-container>
          <m-select-image
            v-else
            :image-url="imageUrl"
            @selected="onImageSelected"
            @remove="onImageRemove"
          />
          <v-spacer />
          <v-btn
            flat
            class="primary mx-0 mt-3"
            type="submit"
            form="edit-account-form"
            :loading="loading"
            :disabled="loading"
          >
            Сохранить
          </v-btn>
        </v-form>
      </v-card-text>
    </v-card>
  </v-dialog>
</template>
<script>
import MSelectImage from '@/components/shared/MSelectImage'
import MDatepicker from '@/components/shared/MDatepicker'
import { mapActions } from 'vuex'
import { get } from 'lodash'
export default {
  components: {
    MSelectImage,
    MDatepicker
  },
  props: {
    showDialog: {
      type: Boolean,
      default: false
    },
    user: {
      type: Object,
      default: () => ({}),
      required: true
    }
  },
  data () {
    return {
      loading: false,
      loadingImg: false,
      imageUrl: '',
      userData: {
        name: '',
        birthday: '',
        avatar: ''
      }
    }
  },
  computed: {
    nameRules () {
      return [
        v => !!v || 'Поле обязательное'
      ]
    }
  },
  watch: {
    user (userData) {
      this.imageUrl = userData.avatar
      this.userData = { ...userData }
    }
  },
  methods: {
    ...mapActions({
      uploadPhoto: 'users/uploadPhoto'
    }),
    async onUpdateAccount () {
      if (!this.$refs.form.validate()) return
      this.loading = true
      try {
        const imageUrlName = this.imageUrl.substring(this.imageUrl.lastIndexOf('/') - 3)
        this.userData.avatar = imageUrlName
        this.$emit('update-account', this.userData)
      } catch (err) {
      } finally {
        this.loading = false
      }
    },
    async onImageSelected (file) {
      this.loadingImg = true
      try {
        const fileUploaded = await this.uploadPhoto({
          file
        })
        this.imageUrl = fileUploaded.url
        this.userData.avatar = fileUploaded.filename
        const message = 'Картинка загруженна'
        await this.$bus.$emit('snackbar:open', {
          color: 'success',
          message
        })
      } catch (err) {
        let error = get(err, 'response.data.errors', 'Неудалось загрузить картинку')
        this.$bus.$emit('snackbar:open', {
          color: 'error',
          message: error
        })
      } finally {
        this.loadingImg = false
      }
    },
    onImageRemove () {
      this.imageUrl = ''
    },
    onToggleDialog (value) {
      this.imageUrl = ''
      this.$emit('update:show-dialog', value)
    }
  }
}
</script>
