<template>
  <v-app>
    <m-aside
      v-if="isLoggedIn"
      :drawer="drawer"

      @changeDrawer="onDrawerChange"
    />
    <m-header
      v-if="isLoggedIn"
      :drawer="drawer"

      @changeDrawer="onDrawerChange"
    />
    <v-content>
      <router-view :key="$route.fullPath" />
    </v-content>
    <m-snackbar />
  </v-app>
</template>

<script>
import MAside from '@/components/MAside'
import MHeader from '@/components/MHeader'
import MSnackbar from '@/components/general/MSnackbar'
import { mapGetters } from 'vuex'

export default {
  name: 'App',
  components: {
    MAside,
    MHeader,
    MSnackbar
  },
  data () {
    return {
      drawer: !window.matchMedia('(max-width: 1260px)').matches
    }
  },
  computed: {
    ...mapGetters({
      isLoggedIn: 'auth/isLoggedIn'
    })
  },
  methods: {
    onDrawerChange (event) {
      this.drawer = event
    }
  }
}
</script>

<style lang="scss" src="@/assets/css/index.scss" />
