<template>
  <v-app id="inspire">
    <v-content>
      <v-container
        fluid
        fill-height
      >
        <v-layout
          align-center
          justify-center
        >
          <v-flex
            xs12
            sm8
            md4
          >
            <v-card class="elevation-12">
              <v-toolbar
                dark
                color="primary"
              >
                <v-toolbar-title>Форма входа</v-toolbar-title>
              </v-toolbar>
              <v-card-text>
                <v-form
                  id="check-login-form"
                  ref="form"
                  lazy-validation
                  @submit.prevent="logIn"
                >
                  <v-text-field
                    v-model="auth.login"
                    prepend-icon="person"
                    label="Логин"
                    :rules="loginRules"
                    required
                  />
                  <v-text-field
                    v-model="auth.password"
                    :rules="passwordRules"
                    :error-messages="messages"
                    prepend-icon="lock"
                    label="Пароль"
                    type="password"
                    required
                  />
                </v-form>
              </v-card-text>
              <v-card-actions>
                <v-spacer />
                <v-btn
                  color="primary"
                  type="submit"
                  form="check-login-form"
                  :loading="loading"
                  :disabled="loading"
                >
                  Войти
                </v-btn>
              </v-card-actions>
            </v-card>
          </v-flex>
        </v-layout>
      </v-container>
    </v-content>
  </v-app>
</template>
<script>
import { mapActions } from 'vuex'
import { get } from 'lodash'

export default {
  name: 'Login',
  data: () => ({
    auth: {
      login: '',
      password: ''
    },
    loading: false,
    messages: ''
  }),

  computed: {
    loginRules () {
      return [
        v => !!v || 'Поле обязательное'
      ]
    },
    passwordRules () {
      return [
        v => !!v || 'Поле обязательное'
      ]
    }
  },

  methods: {
    ...mapActions({
      authenticate: 'auth/authenticate'
    }),

    async logIn () {
      if (!this.$refs.form.validate()) return

      this.loading = true

      try {
        await this.authenticate({
          username: this.auth.login,
          password: this.auth.password
        })

        this.$router.replace({ name: 'home' })
      } catch (err) {
        let error = get(err, 'response.data.errors', 'Неправильное имя пользователя или пароль')
        this.$bus.$emit('snackbar:open', {
          color: 'error',
          message: error
        })
      } finally {
        this.loading = false
      }
    }
  }
}
</script>
