<template>
  <v-data-table
    :headers="headers"
    :items="campaigns"
    hide-actions
    class="elevation-1"
  >
    <template
      #headerCell="{ header }"
    >
      <div :class="classHeaderCell(header)">
        <v-icon class="mr-2">
          {{ header.icon }}
        </v-icon>
        <span>{{ header.text }}</span>
      </div>
    </template>
    <template
      #items="{ item }"
    >
      <td>{{ item.title }}</td>
      <td class="text-xs-left text-xs-max">
        {{ item.content }}
      </td>
      <td class="text-xs-left">
        {{ formatDate(item.createdAt) }}
      </td>
      <td class="text-xs-left">
        {{ item.count }}
      </td>
      <td class="text-xs-right">
        {{ formatStatus(item.status) }}
      </td>
    </template>
  </v-data-table>
</template>

<script>
import format from 'date-fns/format'

export default {
  name: 'StatsList',

  props: {
    campaigns: {
      type: Array,
      default: () => ([]),
      required: true
    }
  },

  data () {
    return {
      headers: [
        {
          text: 'Название',
          align: 'left',
          value: 'title',
          sortable: false,
          icon: 'assignment'
        },
        {
          text: 'Котент',
          align: 'left',
          value: 'content',
          sortable: false,
          icon: 'info'
        },
        {
          text: 'Дата',
          align: 'left',
          value: 'createdAt',
          sortable: false,
          icon: 'date_range'
        },
        {
          text: 'Кол-во получателей',
          align: 'left',
          value: 'count',
          sortable: false,
          icon: 'supervised_user_circle'
        },
        {
          text: 'Статус',
          align: 'right',
          value: 'status',
          sortable: false,
          icon: 'date_range'
        }
      ]
    }
  },

  methods: {
    classHeaderCell (header) {
      const align = header.align || 'left'

      return [
        'stats-list--header--cell',
        `stats-list--header--cell__${align}`
      ]
    },

    formatDate (date) {
      return format(date, 'DD-MM-YYYY')
    },

    formatStatus (status) {
      switch (status) {
        case 'sent':
          return 'Отправлено'
        case 'pending':
          return 'В процессе'
        default:
          return status
      }
    }
  }
}
</script>
<style lang="scss">
.stats-list {
  &--header--cell {
    display: flex;
    align-items: center;

    &__left {
      justify-content: flex-start;
    }

    &__right {
      justify-content: flex-end;
    }
  }
}
table.v-table tbody td:nth-child(3) {
  white-space: nowrap;
}
.text-xs-max{
  max-width: 600px;
}
</style>
