<template>
  <v-card class="pa-2 mb-3">
    <v-card-text>
      <v-form
        ref="form"
      >
        <v-layout
          row
          wrap
          justify-start
        >
          <v-flex
            xs12
            sm6
            md3
          >
            <span class="text-field-title">По автору:</span>
            <v-flex>
              <v-autocomplete
                v-model="select"
                :loading="loadingSearch"
                :items="systemAccounts"
                item-text="name"
                item-value="id"
                hide-selected
                clearable
                solo
                :search-input.sync="onSearchInput"
              />
            </v-flex>
          </v-flex>
          <v-flex
            xs12
            sm6
            md3
          >
            <span class="text-field-title">По названию:</span>
            <v-flex>
              <v-text-field
                v-model="innerFilters.eventName"
                hide-details
                solo
                @keyup="updateFilters"
              />
            </v-flex>
          </v-flex>
          <v-flex
            xs12
            md3
          >
            <span class="text-field-title">По дате:</span>
            <v-layout
              row
              align-center
            >
              <v-flex>
                <v-menu
                  v-model="menu1"
                  :close-on-content-click="false"
                  lazy
                  transition="scale-transition"
                  offset-y
                  full-width
                  min-width="290px"
                >
                  <template v-slot:activator="{ on }">
                    <v-text-field
                      v-model="dateStart"
                      hide-details
                      solo
                      readonly
                      v-on="on"
                    />
                  </template>
                  <v-date-picker
                    v-model="dateStart"
                    locale="ru-RU"
                    @input="onDateStart"
                  />
                </v-menu>
              </v-flex>
              <v-flex shrink>
                <v-subheader>-</v-subheader>
              </v-flex>
              <v-flex>
                <v-menu
                  v-model="menu2"
                  :close-on-content-click="false"
                  lazy
                  transition="scale-transition"
                  offset-y
                  full-width
                  min-width="290px"
                >
                  <template v-slot:activator="{ on }">
                    <v-text-field
                      v-model="dateEnd"
                      hide-details
                      solo
                      readonly
                      v-on="on"
                    />
                  </template>
                  <v-date-picker
                    v-model="dateEnd"
                    locale="ru-RU"
                    @input="onDateEnd"
                  />
                </v-menu>
              </v-flex>
            </v-layout>
          </v-flex>
          <v-flex
            xs12
            sm6
            md3
          >
            <span class="text-field-title">&nbsp;</span>
            <v-btn
              color="primary"
              large
              @click="resetForm"
            >
              Сбросить фильтр
            </v-btn>
          </v-flex>
        </v-layout>
      </v-form>
    </v-card-text>
  </v-card>
</template>
<script>
import { mapActions } from 'vuex'
import { isEqual, get } from 'lodash'
const initialFilters = {
  userId: null,
  eventName: null,
  eventTimeFrom: null,
  eventTimeTo: null
}
export default {
  name: 'EventsFilter',
  props: {
    filters: {
      type: Object,
      default: () => ({}),
      required: true
    }
  },
  data () {
    return {
      range: {},
      inputProps: { solo: true, hideDetails: true, style: { width: '100%' } },
      innerFilters: { ...initialFilters },
      mask: {
        number: '###########'
      },
      dateEnd: null,
      dateStart: null,
      menu2: false,
      menu1: false,
      select: null,
      onSearchInput: null,
      loadingSearch: false,
      systemAccounts: []
    }
  },
  watch: {
    filters: {
      immediate: true,
      handler (filters) {
        this.innerFilters = { ...filters }
      }
    },
    onSearchInput (searchQuery) {
      this.getAccounts(searchQuery)
    }
  },
  beforeMount () {
    this.getAccounts(null)
  },
  methods: {
    ...mapActions({
      searchAccounts: 'accounts/searchAccounts'
    }),
    updateFilters () {
      if (isEqual(this.innerFilters, this.filters)) return
      this.$emit('update:filters', this.innerFilters)
    },
    onDateStart () {
      this.menu1 = false
      this.innerFilters.eventTimeFrom = new Date(this.dateStart).toISOString()
      this.$emit('update:filters', this.innerFilters)
    },

    onDateEnd () {
      this.menu2 = false
      this.innerFilters.eventTimeTo = new Date(this.dateEnd).toISOString()
      this.$emit('update:filters', this.innerFilters)
    },

    resetForm () {
      this.$emit('update:filters', { ...initialFilters })
      this.$refs.form.reset()
    },
    async getAccounts (searchQuery) {
      this.loadingSearch = true
      try {
        const accounts = await this.searchAccounts({
          name: searchQuery
        })
        this.systemAccounts = accounts
        this.innerFilters.userId = this.select
        this.$emit('update:filters', this.innerFilters)
      } catch (err) {
        let error = get(err, 'response.data.errors', 'Неудалось загрузить пользовоталей')
        this.$bus.$emit('snackbar:open', {
          color: 'error',
          message: error
        })
      } finally {
        this.loadingSearch = false
      }
    }
  }
}
</script>
<style scoped>
.text-field-title{
  color: #A0B3C6;
  font-size: 14px;
  line-height: 16px;
  display: block;
  min-height: 20px;
}
.v-subheader{
  padding: 0 4px;
}
</style>
