<template>
  <v-dialog
    v-model="dialog"
    max-width="800px"
    @input="v => v || closeDialog()"
  >
    <v-btn
      slot="activator"
      color="primary"
      large
    >
      Добавить событие
    </v-btn>
    <v-card class="pa-2">
      <v-card-title>
        <h3>Создание нового событие</h3>
      </v-card-title>
      <v-card-text>
        <v-form
          id="add-event-form"
          ref="form"
          lazy-validation
          @submit.prevent="onAddEvent"
        >
          <v-text-field
            v-model="eventData.name"
            :rules="nameRules"
            label="Имя событие"
            solo
          />
          <div class="theme--light v-label mb-2">
            Выберете пользователя
          </div>
          <v-autocomplete
            v-model="select"
            :loading="loadingSearch"
            :items="systemAccounts"
            item-text="name"
            item-value="id"
            hide-selected
            clearable
            :search-input.sync="onSearchInput"
          />
          <v-textarea
            v-model="eventData.description"
            :rules="descRules"
            label="Описание"
            solo
            rows="3"
            auto-grow
          />
          <m-date-time-picker
            v-model="eventData.time"
            label="Время событие"
          />
          <div class="theme--light v-label mb-2">
            Загрузите ковер фото
          </div>
          <v-layout
            row
            wrap
            justify-start
            mb-2
          >
            <v-flex
              xs12
              sm6
              pa-1
            >
              <v-container
                v-if="loadingImgCover"
                fill-height
                class="progress-img"
              >
                <v-layout
                  row
                  justify-center
                  align-center
                >
                  <v-progress-circular
                    :size="50"
                    color="primary"
                    indeterminate
                  />
                </v-layout>
              </v-container>
              <m-select-image
                v-else
                :image-url="imageCoverUrl"
                @selected="onImageSelectedCover"
                @remove="onImageRemoveCover"
              />
            </v-flex>
            <v-flex
              xs12
              sm6
              pa-1
            >
              <v-text-field
                v-model="eventData.caption"
                :rules="captionRules"
                label="Описание фотографии"
                solo
              />
            </v-flex>
          </v-layout>
          <div class="theme--light v-label mb-2">
            Загрузите основное фото
          </div>
          <v-container
            v-if="loadingImg"
            fill-height
            class="progress-img"
          >
            <v-layout
              row
              justify-center
              align-center
            >
              <v-progress-circular
                :size="50"
                color="primary"
                indeterminate
              />
            </v-layout>
          </v-container>
          <m-select-image
            v-else
            :image-url="imageMainUrl"
            @selected="onImageSelected"
            @remove="onImageRemove"
          />
          <gmap-map
            ref="gmap"
            :center="center"
            :zoom="11"
            class="map-event mt-4"
            @click="updateCoordinates"
          >
            <GmapMarker
              :position="position"
              :draggable="true"
              @dragend="updateCoordinates"
            />
          </gmap-map>
          <v-spacer />
          <v-btn
            flat
            class="primary mx-0 mt-3"
            type="submit"
            form="add-event-form"
            :loading="loading"
            :disabled="loading"
          >
            Добавить
          </v-btn>
        </v-form>
      </v-card-text>
    </v-card>
  </v-dialog>
</template>
<script>
import MSelectImage from '@/components/shared/MSelectImage'
import MDateTimePicker from '@/components/shared/MDateTimePicker'
import { mapActions, mapGetters } from 'vuex'
import { get } from 'lodash'
export default {
  components: {
    MSelectImage,
    MDateTimePicker
  },
  data () {
    const todayDate = new Date().toISOString()
    return {
      date: null,
      loading: false,
      dialog: false,
      loadingImg: false,
      loadingImgCover: false,
      imageMainUrl: '',
      imageCoverUrl: '',
      center: {
        lat: 55.760008,
        lng: 37.618027
      },
      position: {
        lat: 55.760008,
        lng: 37.618027
      },
      eventData: {
        name: '',
        time: todayDate,
        description: '',
        caption: '',
        photoMain: '',
        photoCover: '',
        lat: 55.760008,
        long: 37.618027
      },
      select: null,
      onSearchInput: null,
      loadingSearch: false,
      systemAccounts: []
    }
  },
  computed: {
    ...mapGetters({
      profile: 'user/profile'
    }),
    requiredRules () {
      return [
        v => !!v || 'Поле обязательное'
      ]
    },
    nameRules () {
      return [
        v => !!v || 'Поле обязательное',
        v => (v && v.length > 3) || 'Должно быть больше 3 символов'
      ]
    },
    descRules () {
      return [
        v => !!v || 'Поле обязательное',
        v => (v && v.length > 5) || 'Должно быть больше 5 символов'
      ]
    },
    captionRules () {
      return [
        v => !!v || 'Поле обязательное',
        v => (v && v.length > 6) || 'Должно быть больше 6 символов'
      ]
    }
  },
  watch: {
    eventData (eventData) {
      this.eventData.lat = this.position.lng
      this.eventData.long = this.position.lng
    },
    onSearchInput (searchQuery) {
      this.getAccounts(searchQuery)
    }
  },
  beforeMount () {
    this.getAccounts(null)
  },
  methods: {
    ...mapActions({
      uploadPhoto: 'events/uploadPhoto',
      addEvent: 'events/addEvent',
      searchAccounts: 'accounts/searchAccounts'
    }),
    async onImageSelected (file) {
      this.loadingImg = true
      try {
        const fileUploaded = await this.uploadPhoto({
          file
        })
        this.imageMainUrl = fileUploaded.url
        this.eventData.photoMain = fileUploaded.filename
        const message = 'Картинка загруженна'
        await this.$bus.$emit('snackbar:open', {
          color: 'success',
          message
        })
      } catch (err) {
        let error = get(err, 'response.data.errors', 'Неудалось загрузить картинку')
        this.$bus.$emit('snackbar:open', {
          color: 'error',
          message: error
        })
      } finally {
        this.loadingImg = false
      }
    },
    onImageRemove () {
      this.imageMainUrl = ''
    },
    async onImageSelectedCover (file) {
      this.loadingImgCover = true
      try {
        const fileUploaded = await this.uploadPhoto({
          file
        })
        this.imageCoverUrl = fileUploaded.url
        this.eventData.photoCover = fileUploaded.filename
        const message = 'Картинка загруженна'
        await this.$bus.$emit('snackbar:open', {
          color: 'success',
          message
        })
      } catch (err) {
        let error = get(err, 'response.data.errors', 'Неудалось загрузить картинку')
        this.$bus.$emit('snackbar:open', {
          color: 'error',
          message: error
        })
      } finally {
        this.loadingImgCover = false
      }
    },
    onImageRemoveCover () {
      this.imageCoverUrl = ''
    },
    async onAddEvent () {
      if (!this.$refs.form.validate()) return
      this.loading = true
      try {
        await this.addEvent({
          name: this.eventData.name,
          time: this.eventData.time,
          description: this.eventData.description,
          photoCover: this.eventData.photoCover,
          caption: this.eventData.caption,
          photoMain: this.eventData.photoMain,
          lat: this.eventData.lat,
          long: this.eventData.long,
          userId: this.select
        })
        this.$refs.form.reset()
        this.dialog = false
      } catch (err) {
        let error = get(err, 'response.data.errors', 'Неудалось добавить событие')
        this.$bus.$emit('snackbar:open', {
          color: 'error',
          message: error
        })
      } finally {
        this.loading = false
      }
    },
    closeDialog () {
      this.$refs.form.reset()
    },
    updateCoordinates (e) {
      const markerPosition = {
        lat: e.latLng.lat(),
        lng: e.latLng.lng()
      }
      this.eventData.lat = markerPosition.lat
      this.eventData.long = markerPosition.lng
      this.position = markerPosition
    },    
    async getAccounts (searchQuery) {
      this.loadingSearch = true
      try {
        const accounts = await this.searchAccounts({
          name: searchQuery
        })
        this.systemAccounts = accounts
      } catch (err) {
        let error = get(err, 'response.data.errors', 'Неудалось загрузить пользовоталей')
        this.$bus.$emit('snackbar:open', {
          color: 'error',
          message: error
        })
      } finally {
        this.loadingSearch = false
      }
    }
  }
}
</script>
<style scoped>
.map-event{
  width: 100%;
  height: 300px;
}
</style>
