<template>
  <v-snackbar
    v-model="visible"
    :color="options.color"
    bottom
    multi-line
    :timeout="settings.timeout"
  >
    {{ options.message }}

    <v-btn
      flat
      icon
      @click="onClose"
    >
      <v-icon>close</v-icon>
    </v-btn>
  </v-snackbar>
</template>

<script>
export default {
  name: 'MSnackbar',

  data () {
    return {
      visible: false,
      options: {
        message: '',
        color: ''
      },

      defaultOptions: {
        color: 'success',
        message: 'Успешно!'
      },

      settings: {
        timeout: 3000
      }
    }
  },

  beforeMount () {
    this.$bus.$on('snackbar:open', this.onOpen)
  },

  beforeDestroy () {
    this.$bus.$off('snackbar:open', this.onOpen)
  },

  methods: {
    onClose () {
      this.visible = false
    },

    onOpen (options = {}) {
      this.options = {
        ...this.defaultOptions,
        ...options
      }

      this.visible = true
    }
  }
}
</script>
