<template>
  <v-container
    fluid
    grid-list-md
  >
    <management-filter
      :filters="filters"
      @update:filters="onFiltersUpdate"
    />
    <div
      v-infinite-scroll="loadMore"
      :infinite-scroll-throttle-delay="1000"
    >
      <v-container
        v-if="!usersLoaded"
        fill-height
      >
        <v-layout
          row
          justify-center
        >
          <v-progress-circular
            :size="50"
            color="primary"
            indeterminate
          />
        </v-layout>
      </v-container>

      <user-table
        v-else
        key="management-table"
        :users="users"
        :loading-user-id="loadingUserId"
        @update-status="onUpdateUserStatus"
      />

      <v-layout
        justify-center
        class="pa-4"
      >
        <v-progress-circular
          v-if="usersLoaded && loading"
          :size="50"
          color="primary"
          indeterminate
        />
      </v-layout>
    </div>
  </v-container>
</template>
<script>
import ManagementFilter from './ManagementFilter'
import UserTable from 'components/sections/UserTable'
import { mapGetters, mapActions } from 'vuex'
import { get } from 'lodash'

export default {
  name: 'Management',

  components: {
    ManagementFilter,
    UserTable
  },

  data () {
    return {
      filters: {
        phone: null,
        name: null,
        openId: null,
        photosBlockedFrom: null,
        photosBlockedTo: null,
        birthdayFrom: null,
        birthdayTo: null,
        regFrom: null,
        regTo: null,
        radioGroup: null
      },
      loading: false,
      loadingUserId: 0,
      pagination: {
        limit: 20,
        offset: 0
      }
    }
  },
  computed: {
    ...mapGetters({
      users: 'users/users',
      usersLoaded: 'users/usersLoaded',
      limitReached: 'users/limitReached'
    }),

    loadMoreAvailable () {
      return !this._inactive && this.usersLoaded && !this.loading && !this.limitReached
    }
  },

  async beforeMount () {
    this.loadUsers()
  },

  methods: {
    ...mapActions({
      fetchUsers: 'users/fetchUsers',
      loadMoreUsers: 'users/loadMoreUsers',
      updateUserStatus: 'users/updateUserStatus'
    }),

    onFiltersUpdate (filters) {
      this.filters = filters
      this.loadUsers(filters)
    },

    async loadUsers (filters = {}) {
      this.loading = true

      this.pagination = {
        offset: 0,
        limit: this.pagination.limit
      }

      try {
        await this.fetchUsers({
          ...filters,
          ...this.pagination
        })
      } catch (err) {
        let error = get(err, 'response.data.errors', 'Ошибка при загрузке пользователей')
        this.$bus.$emit('snackbar:open', {
          color: 'error',
          message: error
        })
      } finally {
        this.loading = false
      }
    },
    async loadMore (filters) {
      if (!this.loadMoreAvailable) return
      this.loading = true

      const { offset, limit } = this.pagination
      const pagination = {
        offset: offset + limit,
        limit
      }

      try {
        await this.loadMoreUsers({
          ...filters,
          ...pagination
        })

        this.pagination = { ...pagination }
      } catch (error) {
        let message = get(error, 'response.data.errors', 'Ошибка при загрузке пользователей')

        this.$bus.$emit('snackbar:open', {
          color: 'error',
          message
        })
      } finally {
        this.loading = false
      }
    },

    async onUpdateUserStatus ({ userId, isBlocked }) {
      try {
        this.loadingUserId = userId

        await this.updateUserStatus({
          isBlocked,
          userId
        })

        if (isBlocked) {
          await this.$bus.$emit('snackbar:open', {
            color: 'success',
            message: 'Пользователь заблокирован'
          })
        } else {
          await this.$bus.$emit('snackbar:open', {
            color: 'success',
            message: 'Пользователь разблокирован'
          })
        }
      } catch (error) {
        let message = get(error, 'response.data.errors', 'Ошибка при изменении статуса')
        this.$bus.$emit('snackbar:open', {
          color: 'error',
          message
        })
      } finally {
        this.loadingUserId = 0
      }
    }
  }
}
</script>
