<template>
  <v-list>
    <v-list-tile
      v-for="(item, i) in items"
      :key="i"
      :to="item.href"
      value="true"
      ripple
    >
      <v-list-tile-action>
        <v-icon>{{ item.icon }}</v-icon>
      </v-list-tile-action>
      <v-list-tile-content>
        <v-list-tile-title>
          {{ item.title }}
        </v-list-tile-title>
      </v-list-tile-content>
    </v-list-tile>
  </v-list>
</template>
<script>
export default {
  name: 'MMenu',
  data () {
    return {
      items: [
        { icon: 'insert_photo', title: 'Модерация фото', href: '/' },
        { icon: 'supervised_user_circle', title: 'Управление пользователями', href: '/management' },
        { icon: 'account_box', title: 'Системные аккаунты', href: '/accounts' },
        { icon: 'email', title: 'Рассылка push-сообщений', href: '/campaigns' }
      ]
    }
  }
}
</script>
<style>
.v-list__tile--active {
  background: #f8f8f8;
}
</style>
